.node--type-faqs main#content {
    padding: 0 3rem;
}

.node--type-landing-page h1.title {
    margin: .7rem 0 0 !important;
}

.node--type-landing-page div#block-cua-theme-page-title {
    margin: 2rem 1.5rem 0 1.5rem !important;
}

#block--inline-block--basic-765 p {
    margin-top: 0;
    margin-bottom: 0;
}

#block--node--call-to-action--791 .fa-ext.extlink {
    display: none !important;
}

.page-node-892 .banner-body {
    padding: 0 !important;
}

/* Front page background  */
.blue-background {
    background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
    background-size: 16px 16px;
    background-color: #171e2f /* Fallback color */
}

div#block-cua-theme-universityofcoloradofoundation {
    margin: 0 !important;
}

div#block--block-content--9f3104d8-4eb3-45b0-bb46-2462e6defff1-808 {
    margin: 0 !important;
}
