<div id="cu-layout-builder" class="container-fluid d-flex flex-column justify-content-end align-items-center fixed-bottom">

    <div class="col">
        <nav class="tabs" role="navigation" aria-label="Tabs">
            <ul class="container-fluid mx-auto nav nav-pills g-0 p-0 m-0">
                <li class="nav-item">
                    <a id="collapseLink" class="nav-link rounded-top" data-bs-toggle="collapse"
                       href="#collapseExample" role="button"
                       aria-expanded="false" aria-controls="collapseExample">
                        <i class="fas fa-save"></i><span
                                class="mx-3"> {{ 'Saving Options'|t }}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="row container-fluid shadow-lg bg-white rounded">
        <div class="collapse position-relative" id="collapseExample" data-bs-parent="#cu-layout-builder">
            <div class="col d-flex justify-content-center align-items-center py-4">
                {{ attach_library('bootstrap_barrio/form') }}
                <form{{ attributes }}>
                    {{ children }}
                </form>
            </div>
        </div>
    </div>

</div>

