{# Include Title, Body, and Link Components #}

{# Include Title Component #}
{% if label is defined %}
    {% include '@cua_theme/component/title/_title.html.twig' with {'label': label} %}
{% else %}
    <div class="error-message">{{ 'Title component is missing or unavailable.'|t }}</div>
{% endif %}

{# Include Body Component #}
{% if body is defined %}
    {% include '@cua_theme/component/body/_body.html.twig' with {'body': body} %}
{% else %}
    <div class="error-message">{{ 'Body component is missing or unavailable.'|t }}</div>
{% endif %}
