/* Spacer styling  */
.user-administrator .spacer {
    background: inherit
}

.user-administrator .small.text-align-center {
    display: block
}

.spacer .small.text-align-center {
    display: none
}