/* Spacer styling  */
.user-administrator .spacer {
    background: var(--cua-gray-200);
}

.user-administrator .small.text-align-center {
    display: block;
}

.small.text-align-center {
    display: none;
}