/* Spacer styling  */
.role-administrator .logged-in .spacer-title {
  color: var(--cua-black);
  font-size: 100%;
  font-weight: 700;
  display: block;
}

.role-administrator .logged-in #spacer {
  background: var(--cua-gray-800);
}
