{#
/**
* @file
* Template for the Image component.
*
* Bootstrap Documentation
* https://getbootstrap.com/docs/5.3
*
* Full List Utility Classes
* https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
*
* Available fields located in:
* - cua_theme.theme
*/
#}
{% set margins = margins is not empty ? margins : '' %}
{% set padding = padding is not empty ? padding : '' %}

{% set image_bundle_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'cu-image',
    margins,
    padding,
    id ? 'block--' ~ id|replace({"_": "-"})|clean_class
] | merge(utility_classes ? utility_classes : []) | join(' ')|trim %}

{% set unique_id = [
    plugin_id ? 'block--' ~ plugin_id|replace({"_": "-", ":": "--"}) ~ '-' ~ elements.content['#block_content'].id()
] %}

{# Render content #}
<div{{ attributes|without('id').setAttribute('id', unique_id ).addClass(image_bundle_classes) }}>

    {# Include Image Component #}
    {% include '@cua_theme/component/card/_card--image.html.twig' %}

    {# Title #}
    {{ title_prefix ?? '' }}
    <div class="display-4">
        {{ label }}
    </div>
    {{ title_suffix ?? '' }}

    {# Include Body Component #}
    {% include '@cua_theme/component/body/_body.html.twig' %}

    {# Include Link/Button Component #}
    {% include '@cua_theme/component/card/_card--footer-btn.html.twig' %}

</div>
