{# ## Banner Card ## #}

{# Attach library #}
{{ attach_library('cua_theme/banner') }}

{# Set CSS Classes #}
{% set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'jumbotron jumbotron-fluid banner',
    color_background is not empty ? color_background : '',
    'shadow-lg',
    'g-0',
] %}

{# Render block content #}
<div{{ attributes.addClass(classes) }}>
    <div class="container-xl card g-0">
        {# Include Image Component #}
        {% include '@cua_theme/component/image/_image.html.twig' %}
        {# Include Banner Card Component #}
        {% include '@cua_theme/component/banner/_banner_card.html.twig' %}
    </div>
</div>
