{#
/**
 * @file
 * Template for the Banner component.
 *
 * Bootstrap Documentation
 * https://getbootstrap.com/docs/5.3
 *
 * Full List Utility Classes
 * https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
 *
 * Available array of classes:
 * - border_style :
 * - button_color :
 * - color_background :
 * - color_border :
 * - icon :
 * - icon_color :
 * - icon_size :
 * - image_alignment :
 * - image_size :
 * - padding :
 * - page_title_visibility :
 * - position_container :
 * - size :
 * - text_alignment :
 * - text_color :
 * - outline :
 * - visibility :
 */
#}

{# Attach library #}
{{ attach_library('cua_theme/banner') }}

{# Add Classes #}
{% set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'jumbotron jumbotron-fluid banner',
    color_background is not empty ? color_background : '',
    'shadow-lg',
    'g-0',
] %}

{# Render block content #}
<div{{ attributes.addClass(classes) }}>
    <div class="container-xl card g-0">
        {# Include Image Component #}
        {% include '@cua_theme/component/image/_image.html.twig' %}
        {# Include Banner Card Component #}
        {% include '@cua_theme/component/banner/_banner_card.html.twig' %}
    </div>
</div>
