/* Header styling */
header#header {
    background: var(--cua-white) !important
}

/* Site Slogan */
h1.site-slogan {
    padding: 0
}

/* Site Name Wrapper */
.site-name-wrapper {
    width: 100%;
    background: var(--bg-light) !important
}

/* Site Branding Links */
a.site-branding__logo,
a.site-branding__name,
.site-link {
    text-decoration: none
}

a.site-branding__name,
.site-link {
    display: block
}

a.site-branding__name {
    color: var(--cua-black);
    font-size: 1.15rem;
    font-weight: var(--font-weight-bold);
    line-height: 1.1;
    padding: 0;
    margin: .2rem 0 0 .5rem
}

.site-link {
    color: var(--cua-gray-800);
    font-size: 26px;
    font-weight: 900;
    padding: 0.25em 0
}

a.site-branding__name:hover,
.site-link:hover {
    color: var(--cua-gold-hover);
    text-decoration: none
}

h1.site-link {
    line-height: 0
}

/* Navigation */
nav#navbar-main {
    background: var(--uci-gray);
    color: var(--bg-light)
}

nav#navbar-main.sticky {
    background: rgba(0, 0, 0, 0.85)
}

.navbar-toggler {
    color: var(--cua-white);
    background-color: var(--cua-gold);
    border: var(--bs-border-width) solid var(--cua-white)
}

.site-branding__text a {
    text-decoration: none;
    font-weight: 400
}

.navbar-expand-lg .navbar-nav .nav-link,
.nav-link.dropdown-toggle,
.nav-link.is-active,
.nav-link.active.is-active {
    text-decoration: none
}

.view-content.row .nav-link.is-active {
    text-decoration: underline !important;
    color: #ac9046 !important;
}

.navbar-expand-lg .navbar-nav .nav-link ul li a:first-child,
.navbar-expand-lg .navbar-nav .nav-link ul li:first-child {
    padding: .75rem 1.5rem
}

/* Navbar Padding and Links */
.nav-link.active.dropdown-toggle,
.navbar-expand-lg a.nav-link.is-active {
    background-color: var(--cua-black);
    color: var(--cua-white) !important
}

.navbar-expand-lg a.nav-link:first-child.is-active {
    background-color: transparent !important;
    color: var(--cua-white) !important;
}

/* Add hover effect */
.navbar-expand-lg a.nav-link:first-child.is-active:hover {
    background-color: var(--cua-white) !important;
    color:  var(--cua-black) !important;
}


/* Custom CSS to move the last link to the right */
#block-cua-theme-main-menu {
    width: 100% !important
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: inherit;
    position: relative;
    text-decoration: none
}

/* Font Awesome */
nav#navbar-main > li.first a:before {
    content: "\f015";
    display: block;
    font-family: var(--font-awesome);
    font-size: 20px;
    height: 20px;
    line-height: 1;
    margin-top: 6px;
    text-indent: 0;
    width: 20px;
}

/* Search */
.search-icon {
    display: block;
    float: inline-end
}

button.search-icon {
    background: var(--cua-gray-200);
    box-shadow: none;
    line-height: 0;
    margin: 0;
    padding: 0.7em
}

button.search-icon {
    border-radius: 50%;
    background: var(--cua-gray-200);
    box-shadow: 0 0 1px 0 rgb(0 0 0 / 50%);
    margin: 0 3px;
    padding: 0.6rem
}

button.search-icon:hover {
    background: var(--cua-gray-400)
}

header .search-block-form {
    margin: 0.5rem 0 0
}

.search-block-form .form-control {
    padding: 0
}

.search-block-form .btn-primary {
    color: var(--cua-white) !important;
    background: var(--cua-black) !important;
    border: 1px solid var(--cua-black) !important;
    border-left-color: var(--cua-black) !important;
    border-radius: 0 !important;
    font-weight: var(--font-weight-bold) !important;
    font-size: .95rem !important;
    letter-spacing: normal !important;
    margin: 0 !important;
    padding: .47rem 1.25rem !important
}

.search-block-form .btn-primary:hover {
    background: var(--cua-black);
    border: 1px solid var(--cua-black);
    border-left-color: var(--cua-black) !important;
    box-shadow: 0 0 0 0.25rem rgba(223, 200, 140, 0);
    color: var(--cua-white);
    cursor: pointer !important;
    text-decoration: none
}

.search-block-form .js-form-type-search input.form-search,
.search-block-form .container {
    box-sizing: border-box
}

.search-block-form .js-form-type-search input.form-search {
    background-clip: padding-box;
    background-color: var(--cua-white);
    border: 1px solid var(--cua-black);
    border-radius: 0;
    border-right: 0;
    color: var(--cua-gray-800);
    display: block;
    font-size: var(--base-font-size);
    font-weight: var(--font-weight-normal);
    height: calc(1.6em + 0.75rem + 2px);
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 100%;
}

.search-block-form .container {
    /* Adjust the container width if needed */
    width: 100%
}

.search-block-form .content.container-inline {
    width: 100% !important
}

.search-block-form .js-form-item.js-form-type-search.form-type-search.js-form-item-keys.form-item-keys.form-no-label.mb-3 {
    flex: auto
}

p.search-button {
    margin: .48rem 0 0;
    padding: 0 1rem 0
}

header #search-block-form {
    border-bottom: 2px solid var(--cua-white);
    flex-flow: row wrap;
    padding: 5px 15px
}

.form-control:focus {
    border: 1px solid #acb5bd !important;
    box-shadow: none !important;
    outline: 0
}

/* Dropdown */
.dropdown-menu {
    border: none
}

.dropdown-menu.show {
    border-bottom: 3px solid var(--cua-gold);
    border-radius: 0;
    box-shadow: -3px 4px 13px -3px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: -3px 4px 13px -3px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: -3px 4px 13px -3px rgba(0, 0, 0, 0.44);
    z-index: 99999;
}

.dropdown-item a,
.dropdown-item a:visited {
    color: var(--cua-black);
    font-weight: 400;
    text-decoration: none
}

.dropdown-item a:hover, .dropdown-item:hover, .dropdown-item.active,
.dropdown-item:active {
    background-color: var(--uci-gray);
    color: var(--cua-white)
}

.dropdown-toggle::after {
    color: var(--cua-gold)
}

/* Secondary Menu */

.secondary-menu {
    margin-top: .525rem
}

.secondary-menu .nav-link.nav-link- {
    color: var(--cua-black) !important;
    font-size: var(--font-small);
    font-weight: var(--font-weight-bold) !important;
    text-decoration: none;
    text-transform: none !important
}

.secondary-menu .nav-link.nav-link-:hover {
    color: var(--cua-gold-hover)
}

/* Target all anchor elements within .nav-link */
.secondary-menu a.nav-link {
    color: var(--cua-gray-700);
    font-size: var(--font-xsmall);
    padding: 0.5rem;
    text-transform: none !important
}

.secondary-menu a.nav-link:hover {
    color: var(--cua-gold)
}

/* Style the last .nav-link element */
.secondary-menu .nav-item:last-child .nav-link {
    background: var(--cua-white);
    border: 1px solid var(--cua-black);
    color: var(--cua-black);
    font-size: var(--font-xsmall);
    font-weight: var(--font-weight-bold);
    overflow: hidden;
    margin-left: 1rem;
    padding: .5rem 1rem;
    position: relative;
    z-index: 1
}

.secondary-menu .nav-item:last-child .nav-link:hover {
    color: var(--cua-black) !important;
    text-decoration: none !important
}

.secondary-menu .nav-item:last-child .nav-link::after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M190.5 68.8L225.3 128l-1.3 0-72 0c-22.1 0-40-17.9-40-40s17.9-40 40-40l2.2 0c14.9 0 28.8 7.9 36.3 20.8zM64 88c0 14.4 3.5 28 9.6 40L32 128c-17.7 0-32 14.3-32 32l0 64c0 17.7 14.3 32 32 32l448 0c17.7 0 32-14.3 32-32l0-64c0-17.7-14.3-32-32-32l-41.6 0c6.1-12 9.6-25.6 9.6-40c0-48.6-39.4-88-88-88l-2.2 0c-31.9 0-61.5 16.9-77.7 44.4L256 85.5l-24.1-41C215.7 16.9 186.1 0 154.2 0L152 0C103.4 0 64 39.4 64 88zm336 0c0 22.1-17.9 40-40 40l-72 0-1.3 0 34.8-59.2C329.1 55.9 342.9 48 357.8 48l2.2 0c22.1 0 40 17.9 40 40zM32 288l0 176c0 26.5 21.5 48 48 48l144 0 0-224L32 288zM288 512l144 0c26.5 0 48-21.5 48-48l0-176-192 0 0 224z"/></svg>');
    display: inline-block;
    margin: 0 0 0 5px;
    height: 12px;
    width: 12px
}

.secondary-menu .nav-item:last-child .nav-link::before {
    background: var(--cua-gold);
    color: var(--cua-black);
    content: "";
    font-family: var(--font-awesome);
    position: absolute;
    top: 0;
    transition: left 0.5s ease;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.secondary-menu .nav-item:last-child .nav-link:hover::before {
    left: 0
}

/* Add home icon to main menu *

header .navbar-nav > .nav-item:first-child > .nav-link {
    font-size: 0
}

header .navbar-nav > .nav-item:first-child > .nav-link::before {
    content: url('data:image/svg+xml,<svg class="bi bi-house" width="1.25em" height="1.25em" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 00.5.5h9a.5.5 0 00.5-.5V7h1v6.5a1.5 1.5 0 01-1.5 1.5h-9A1.5 1.5 0 012 13.5zm11-11V6l-2-2V2.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z" clip-rule="evenodd" fill="white"/><path fill-rule="evenodd" d="M7.293 1.5a1 1 0 011.414 0l6.647 6.646a.5.5 0 01-.708.708L8 2.207 1.354 8.854a.5.5 0 11-.708-.708L7.293 1.5z" clip-rule="evenodd" fill="white"/></svg>');
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    margin: 0 20px 0 0;
}

header .navbar-nav > .nav-item:first-child > .nav-link:hover::before {
    content: url('data:image/svg+xml,<svg class="bi bi-house" width="1.25em" height="1.25em" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 00.5.5h9a.5.5 0 00.5-.5V7h1v6.5a1.5 1.5 0 01-1.5 1.5h-9A1.5 1.5 0 012 13.5zm11-11V6l-2-2V2.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z" clip-rule="evenodd" fill="black"/><path fill-rule="evenodd" d="M7.293 1.5a1 1 0 011.414 0l6.647 6.646a.5.5 0 01-.708.708L8 2.207 1.354 8.854a.5.5 0 11-.708-.708L7.293 1.5z" clip-rule="evenodd" fill="black"/></svg>');
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    margin: 0 20px 0 0;
}

header .sticky .navbar-nav > .nav-item:first-child > .nav-link::before {
    font-size: .75rem
}

/* Sticky Header Menu */

.sticky {
    background: var(--cua-white);
    border-bottom: 1px solid var(--cua-black-pure) !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000
}

.header .sticky .container.my-2 {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.header .nav-link {
    transition: font-size 0.3s ease;
    font-size: var(--base-font-size)
}

.header .scrolled .nav-link {
    font-size: .85rem
}

.header .sticky {
    box-shadow: 0 .05rem 1rem rgba(0, 0, 0, 1) !important;
    transition: font-size .25s ease-in-out, color .25s ease-in-out, background-color .25s ease-in-out, border-color .25s ease-in-out
}

.header .sticky .nav-link {
    color: var(--cua-white) !important;
    font-size: .85rem;
    transition: font-size .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out
}

.header .sticky .nav-link:hover {
    color: var(--cua-gold) !important
}

.header .sticky .nav-link.active.dropdown-toggle {
    background-color: transparent
}

.header .sticky .nav-link.nav-link-:last-child {
    color: var(--cua-gold) !important;
    font-size: .85rem;
    transition: color .25s ease-in-out, font-size .25s ease-in-out
}

.header .sticky .nav-link.nav-link-:last-child::after {
    content: "\f06b";
    font-family: var(--font-awesome);
    font-size: .85rem;
    margin: 0 0 0 0.5rem
}

.header .sticky .nav-link.nav-link-:last-child:hover {
    color: var(--cua-white) !important
}

.header .sticky nav#block-cua-theme-secondarymenu--2 {
    margin: 0
}

.navbar.sticky {
    border-top: 1px solid var(--cua-gold) !important
}

/* Sticky Search */
.header .sticky-search {
    display: none !important
}

.header .sticky .sticky-search {
    display: block !important;
    position: absolute;
    right: 0
}

.header .sticky .search-icon {
    position: absolute;
    top: 0.55rem;
    right: 15px
}

.header .sticky button.search-icon {
    background: var(--cua-black);
    color: var(--cua-white) !important
}

.secondary-menu-sticky {
    margin: .65rem 4rem 0 0 !important
}

img.sticky-show {
    display: none
}

.sticky img.sticky-show {
    display: block;
    margin: 0 1rem 0 0
}

/* Change header nav dark */
header .nav-item {
    border-right: 1px solid var(--cua-gray-500)
}

header .sticky .nav-item {
    border-right: 1px solid transparent
}

header .nav-item.active {
    color: var(--cua-black) !important
}

header .nav-item:first-child {
    border-right: 1px solid var(--cua-gray-500)
}

header .sticky .nav-item:first-child {
    border-right: 1px solid transparent
}

header .navbar {
    --bs-navbar-padding-y: 0 !important
}

header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0.938rem !important
}

header li.nav-item:hover {
    background: var(--cua-white) !important;
    color: var(--cua-black) !important
}

header li.nav-item:first-child:hover {
    background: transparent !important;
    color: var(--cua-gold) !important
}


header a.nav-link.active {
    background: var(--cua-white)
}

header .secondary-menu .nav-item:first-child,
header .secondary-menu .nav-item {
    border-right: 1px solid transparent
}

.header .sticky .nav-link {
    color: var(--cua-white) !important;
    background: transparent;
    font-size: .85rem;
    transition: font-size .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out
}

.header .sticky .nav-link:hover {
    color: var(--cua-gold) !important
}

header .sticky li.nav-item:hover {
    background: transparent !important
}

/* Adj navigation */
span.nav-link.dropdown-toggle.nav-link- {
    cursor: pointer
}

.dropdown-item {
    padding: 0 !important
}

.dropdown-item a, .dropdown-item a:visited {
    display: block;
    padding: .45rem 1rem;
    text-decoration: none !important;
    transition: all 0.3s ease
}

.dropdown-menu {
    --bs-dropdown-padding-y: 0 !important
}

.dropdown-menu a.active.is-active {
    color: var(--cua-white) !important
}

.btn.btn-logout {
    background: var(--cua-black);
    border-radius: 0;
    color: var(--cua-white);
    display: inline-block;
    border: 1px solid var(--cua-black);
    font-size: var(--font-xsmall);
    font-weight: var(--font-weight-normal);
    padding: .46rem .9rem;
    transition: background-color 0.7s ease;
    width: auto
}

.btn.btn-logout:hover {
    background: var(--cua-white);
    border: 1px solid var(--cua-black);
    color: var(--cua-black);
    text-decoration: none
}

/* Remove header for scroll to action correction */
.path-faq .sticky {
    position: relative !important
}

/* Sticky give now */
.header .secondary-menu-sticky .nav-link {
    background: var(--cua-white);
    color: var(--cua-black) !important;
    font-size: .75rem !important;
    padding: .4rem 1rem
}

.secondary-menu-sticky li.nav-item:last-child {
    border: 1px solid var(--cua-white) !important
}

.secondary-menu-sticky li.nav-item:last-child:hover {
    border: 1px solid var(--cua-gold) !important
}

.header .secondary-menu-sticky .nav-link:hover {
    color: var(--cua-gold) !important;
    background: var(--cua-black) !important;
    text-decoration: none !important
}

.secondary-menu-sticky li.nav-item:last-child .nav-link::before {
    background: transparent;
    color: var(--cua-white);
    content: "";
    font-family: var(--font-awesome);
    position: absolute;
    transition: left 0.5s ease;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: -1
}

.secondary-menu-sticky li.nav-item:last-child .nav-link::after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M190.5 68.8L225.3 128l-1.3 0-72 0c-22.1 0-40-17.9-40-40s17.9-40 40-40l2.2 0c14.9 0 28.8 7.9 36.3 20.8zM64 88c0 14.4 3.5 28 9.6 40L32 128c-17.7 0-32 14.3-32 32l0 64c0 17.7 14.3 32 32 32l448 0c17.7 0 32-14.3 32-32l0-64c0-17.7-14.3-32-32-32l-41.6 0c6.1-12 9.6-25.6 9.6-40c0-48.6-39.4-88-88-88l-2.2 0c-31.9 0-61.5 16.9-77.7 44.4L256 85.5l-24.1-41C215.7 16.9 186.1 0 154.2 0L152 0C103.4 0 64 39.4 64 88zm336 0c0 22.1-17.9 40-40 40l-72 0-1.3 0 34.8-59.2C329.1 55.9 342.9 48 357.8 48l2.2 0c22.1 0 40 17.9 40 40zM32 288l0 176c0 26.5 21.5 48 48 48l144 0 0-224L32 288zM288 512l144 0c26.5 0 48-21.5 48-48l0-176-192 0 0 224z"/></svg>');
    display: inline-block;
    margin: 0 0 0 5px;
    height: 12px;
    width: 12px;
}

.secondary-menu-sticky:last-child {
    margin: .1rem 6.5rem 0 0 !important
}

/* Breadcrumb */
.breadcrumb a,
.breadcrumb-item.active {
    color: var(--bs-breadcrumb-item-active-color);
    font-size: var(--font-small);
    text-decoration: none
}

ol li.breadcrumb-item:nth-of-type(1) a {
    color: var(--cua-gold-hover);
    font-weight: var(--font-weight-bold)
}

.breadcrumb a:hover {
    color: var(--cua-gold-hover)
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--cua-gray-400);
    content: var(--bs-breadcrumb-divider, ">")
}

ol.breadcrumb li:first-child a {
    font-size: 0
}

ol.breadcrumb li:first-child a::before {
    background-image: url('data:image/svg+xml,<svg class="bi bi-house" width="1em" height="1em" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 00.5.5h9a.5.5 0 00.5-.5V7h1v6.5a1.5 1.5 0 01-1.5 1.5h-9A1.5 1.5 0 012 13.5zm11-11V6l-2-2V2.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z" clip-rule="evenodd"/><path fill-rule="evenodd" d="M7.293 1.5a1 1 0 011.414 0l6.647 6.646a.5.5 0 01-.708.708L8 2.207 1.354 8.854a.5.5 0 11-.708-.708L7.293 1.5z" clip-rule="evenodd"/></svg>');
    background-repeat: no-repeat;
    -webkit-background-size: 1rem 1rem;
    background-size: 1rem 1rem;
    background-position: 0 0.15rem;
    display: inline-block;
    content: "";
    width: 1.5rem;
    height: 1.1rem
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--cua-gray-600);
    content: var(--bs-breadcrumb-divider, "/");
    float: left;
    padding-right: .5rem
}

.breadcrumb a:hover, .block-link a:hover {
    text-decoration: underline
}

div#block-cua-theme-breadcrumbs {
    display: flex;
    justify-content: end;
    padding: 0 .5rem 0
}

/* Search */
.node_search-results .list-group-item {
    border: none !important
}

.secondary-menu {
    margin-bottom: 0 !important;
}

/* Responsive */
@media only screen and (max-width: 991px) {
    #navbar-main {
        background-color: transparent;
        border-top: 1px solid var(--cua-gray-200);
        padding: 0 !important
    }

    .navbar-nav > li:not(:last-child) {
        border-right-color: transparent !important
    }

    nav#block-cua-theme-secondarymenu {
        margin: 0 0 2rem 0
    }

    nav#block-cua-theme-secondarymenu a.nav-link {
        color: var(--cua-gray-700);
        border-bottom: 1px solid var(--cua-gray-200);
        padding: .5rem 0
    }

    h1.site-slogan {
        margin: 0
    }

    a.site-branding__name {
        font-size: 1.1rem;
        padding: .3rem 0 0;
        line-height: 1
    }

    .navbar-expand-lg .navbar-nav .nav-link, .nav-link.dropdown-toggle, .nav-link.is-active, .nav-link.active.is-active {
        border-bottom: 1px solid var(--cua-gray-200);
        margin: 0;
        padding: .5rem 0;
        text-decoration: none
    }

    button.search-icon {
        border-radius: 50%;
        box-shadow: none;
        margin: 0 3px;
        padding: 0.6rem
    }

    .header .nav-link {
        font-size: var(--base-font-size) !important
    }

    header .navbar-nav > .nav-item:first-child > .nav-link::before {
        display: none
    }

    /* Custom Hamburger */
    .navbar-toggler {
        background-color: transparent !important;
        border: var(--bs-border-width) solid var(--cua-black-pure)
    }

    .navbar-toggler-icon {
        --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
    }

    .navbar-toggler:focus {
        background: var(--cua-gold) !important;
        border: var(--bs-border-width) solid var(--cua-gold);
        box-shadow: none !important;
        text-decoration: none !important;
        outline: 0 !important
    }

    .navbar-toggler:focus .navbar-toggler-icon {
        --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M3 3L27 27'/%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M3 27L27 3'/%3e%3c/svg%3e")
    }

    .dropdown-menu.show {
        border-bottom: none;
        box-shadow: none !important;
        font-size: .9rem
    }

    header #search-block-form {
        padding: 0
    }

    .dropdown-toggle::after {
        border-top: 0.4em solid;
        border-right: 0.4em solid transparent;
        border-bottom: 0;
        border-left: 0.4em solid transparent;
        position: absolute;
        right: 15px;
        top: 25px
    }

    /* Secondary Mobile Menu */
    .block-menu.menu--secondary-menu ul.nav {
        flex-direction: column
    }

    .block-menu.menu--secondary-menu ul.nav li.nav-item {
        display: block
    }

    .block-menu.menu--secondary-menu a.nav-link {
        color: var(--cua-gray-700);
        border-bottom: 1px solid var(--cua-gray-200);
        padding: .75rem 0 .75rem 1rem
    }

    header .nav-item {
        border-right: none !important
    }

    p.search-button {
        padding: 0 !important;
        margin: 0 !important
    }

    img.sticky-show {
        display: none
    }

    header .border-bottom {
        border-bottom: 1px solid var(--cua-white) !important
    }

    header .nav-item {
        border-right: 1px solid transparent;
        color: white
    }

    nav#block-cua-theme-secondarymenu a.nav-link {
        background: var(--uci-gray);
        border-bottom: 1px solid var(--cua-gray-200);
        color: var(--cua-white);
        padding: 1rem
    }

    header .secondary-menu-mobile a.nav-link.active,
    header .secondary-menu-mobile a.nav-link {
        background: var(--uci-gray);
        color: var(--cua-white) !important
    }

    div#mainNavbrSupportedContent {
        margin: 0 0 2rem
    }

    header .navbar-expand-lg .navbar-nav .nav-link {
        color: var(--cua-white);
        background: var(--uci-gray)
    }

    header li.nav-item,
    header li.nav-item:hover,
    .dropdown-menu.show {
        background: var(--uci-gray) !important;
        color: var(--cua-white) !important
    }

    .dropdown-item a, .dropdown-item a:visited {
        color: var(--cua-white);
        background-color: #26262636;
        padding-left: 15px
    }

    .navbar-expand-lg .navbar-nav .nav-link::before {
        background-color: var(--uci-gray) !important
    }

    a.site-branding__name {
        margin: .7rem 0 0 .5rem
    }

    .container.top-bar {
        padding-bottom: 1rem;
    }

}

/* iphone > 12 */
@media only screen and (max-width: 430px) {
    a.site-branding__name {
        padding: .5rem 0 0
    }

    .site-name-logo img {
        margin: .25rem 0 0
    }
}

/* iphone < 12 */
@media only screen and (max-width: 390px) {
    a.site-branding__name {
        padding: 0
    }

    .site-name-logo img {
        margin: .3rem 0 0
    }
}