{# Spacer #}

{# Attach the library #}
{{ attach_library('cua_theme/spacer') }}
{# Set CSS Classes #}
{% set container_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
] %}
{# Content #}
<div{{ attributes.addClass('spacer') }}>
    <div class="{{ content.field_size.0 }}">
        {{ '&nbsp;'|t }}
    </div>
</div>
