{% set faq_items = [] %}

{% for i, row in view.result %}
  {% set tokens = view.style_plugin.render_tokens[i] %}
  {% set q = tokens['{{ title }}']|striptags|trim %}
  {% set a = tokens['{{ nothing }}']|striptags|trim %}

  {% set faq_items = faq_items|merge([{
    "@type": "Question",
    "name": q,
    "acceptedAnswer": {
      "@type": "Answer",
      "text": a
    }
  }]) %}
{% endfor %}

<script type="application/ld+json">
{{ {
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": faq_items
}|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
</script>

<div class="accordion" id="faq-accordion">
  {{ rows }}
</div>
