{%- apply spaceless -%}
  {%- set content_raw = fields.nothing.content|render|trim -%}
  
  {%- if content_raw is not empty -%}
    {%- set url_raw = content_raw|split('href="')[1]|split('"')[0] -%}
    {%- set report_url = (url_raw starts with 'http') ? url_raw : 'https://www.giving.cu.edu' ~ url_raw -%}
    {%- set report_name = content_raw|striptags|trim -%}

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Report",
      "name": {{ report_name|json_encode|raw }},
      "url": {{ report_url|json_encode|raw }},
      "publisher": {
        "@type": "Organization",
        "name": "University of Colorado Foundation",
        "url": "https://cufund.org"
      }
    }
    </script>

    <div class="financial-document annual-report py-2">
      {{- content_raw|raw -}}
    </div>
  {%- endif -%}
{%- endapply -%}