{#
  File: views-view-fields--financials--block-1.html.twig
  View: financials | Display: block_1 (Policies and Statements)
#}
{%- apply spaceless -%}
  {%- set protected_raw = fields.field_protected_file.content|render|trim -%}
  {%- set public_raw = fields.field_file.content|render|trim -%}

  {%- if protected_raw or public_raw -%}
    {# Determine which file is available #}
    {%- set active_field = protected_raw is not empty ? fields.field_protected_file : fields.field_file -%}
    {# Use the label or the field description for Schema.org name #}
    {%- set doc_name = row._entity.label|striptags|trim -%}

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "DigitalDocument",
      "name": "{{ doc_name|escape('js') }}",
      "url": "https://www.giving.cu.edu{{ file_url(row._entity.field_protected_file.entity.uri.value ?? row._entity.field_file.entity.uri.value) }}",
      "encodingFormat": "application/pdf"
    }
    </script>

    <div class="financial-document py-2" itemscope itemtype="https://schema.org/DigitalDocument">
      <meta itemprop="encodingFormat" content="application/pdf">
      {{- active_field.content|raw -}}
    </div>
  {%- endif -%}
{%- endapply -%}