/* Banner styling */

/* Limit container width and height */
.banner .container-xl {
    max-width: 1499px;
    object-fit: cover;
    max-height: 100vh;
    min-width: 100vh;
}

/* Adjust card styling */
.banner .card {
    object-fit: cover;
    max-height: 100vh;
    min-width: 100vh;
}

/* Customize image styling */
.banner .card-img-top.img-fluid.w-100.image-style-webp {
    border-radius: 0;
}

/* Adjust card footer styling */
.banner .card-footer.px-4.pb-4 {
    padding: 0;
}

/* Color Background */

/* Gold background with opacity */
.banner .cu-bg-gold {
    background: var(--cua-gold);
    opacity: 0.6;
}

/* Black background with opacity */
.banner .cu-bg-black {
    background: var(--cua-black);
    opacity: 0.7;
}

/* White background with opacity */
.banner .cu-bg-white {
    background: var(--cua-white);
    opacity: 0.7;
}

/* Color text */

/* Gold text color */
.banner .cu-text-gold, .cu-text-gold {
    color: var(--cua-gold);
}

/* White text color */
.banner .cu-text-white {
    color: var(--cua-white);
}

/* Black text color */
.banner .cu-text-black {
    color: var(--cua-black);
}

/* Color Buttons */

.banner .btn {
    font-weight: 700;
    padding: .7rem 4.5rem;
    border-radius: 0 !important;
}

.banner .btn:hover {
    text-decoration: none !important;
}

/* Black buttons */
.banner .btn.btn-cu-bg-black {
    background: rgba(0,0,0,1); /* Change to black background */
    border: 3px solid var(--cua-black); /* Change to black border */
    color: var(--cua-white); /* Change to white text color */
    font-weight: 700;
    position: relative; /* Ensure z-index works */
}

/* Hover effect for black buttons */
.banner .btn.btn-cu-bg-black:hover {
    background: rgba(255,255,255,0.1); /* Change to light gray background */
    border-color: var(--cua-black); /* Keep black border */
    color: var(--cua-black); /* Change to black text color */
}

/* Outline black buttons */
.banner .btn.outline-btn-cu-bg-black {
    position: relative;
    overflow: hidden;
    background: transparent;
    border: 3px solid var(--cua-black); /* Change to black border */
    color: var(--cua-black); /* Change to black text color */
    font-weight: 700;
}

/* Hover effect for outline black buttons */
.banner .btn.outline-btn-cu-bg-black::before,
.banner .btn.btn-cu-bg-black::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(0,0,0,0.5); /* Change to semi-transparent black background */
    transition: width 0.3s ease;
    z-index: -1;
}

.banner .btn.outline-btn-cu-bg-black:hover::before,
.banner .btn.btn-cu-bg-black:hover::before {
    width: 100%;
}

.banner .btn.outline-btn-cu-bg-black:hover,
.banner .btn.btn-cu-bg-black:hover {
    border-color: var(--cua-black); /* Keep black border */
    color: var(--cua-white); /* Change to white text color */
    z-index: 1; /* Ensure button text appears above the background */
}

/* Gold buttons */
.banner .btn.btn-cu-bg-gold {
    background: rgba(207, 184, 124, 1); /* Change to gold background */
    border: 3px solid var(--cua-gold); /* Change to gold border */
    color: var(--cua-black); /* Change to black text color */
    font-weight: 700;
    position: relative; /* Ensure z-index works */
}

/* Hover effect for gold buttons */
.banner .btn.btn-cu-bg-gold:hover {
    background: rgba(207, 184, 124, 0.5); /* Change to light gray background */
    border: 3px solid var(--cua-gold);/* Keep gold border */
    color: var(--cua-black); /* Change to black text color */
}

/* Outline gold buttons */
.banner .btn.outline-btn-cu-bg-gold {
    position: relative;
    overflow: hidden;
    background: transparent;
    border: 3px solid var(--cua-gold); /* Change to gold border */
    color: rgba(207, 184, 124, 1); /* Change to gold text color */
    font-weight: 700;
}

/* Hover effect for outline gold buttons */
.banner .btn.outline-btn-cu-bg-gold::before,
.banner .btn.btn-cu-bg-gold::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(207, 184, 124, .5); /* Change to semi-transparent gold background */
    transition: width 0.3s ease;
    z-index: -1;
}

.banner .btn.outline-btn-cu-bg-gold:hover::before,
.banner .btn.btn-cu-bg-gold:hover::before {
    width: 100%;
}

.banner .btn.outline-btn-cu-bg-gold:hover,
.banner .btn.btn-cu-bg-gold:hover {
    border: 3px solid var(--cua-gold); /* Keep gold border */
    color: var(--cua-black); /* Change to black text color */
    z-index: 1; /* Ensure button text appears above the background */
}

/* White buttons */
.banner .btn.btn-cu-bg-white {
    background: rgba(255,255,255,1);
    border: 3px solid var(--cua-white);
    color: var(--cua-black);
    font-weight: 700;
    position: relative; /* Ensure z-index works */
}

/* Hover effect for white buttons */
.banner .btn.btn-cu-bg-white:hover {
    background: rgba(0,0,0,0.1);
    border-color: var(--cua-white);
    color: var(--cua-white);
}

/* Outline white buttons */
.banner .btn.outline-btn-cu-bg-white {
    position: relative;
    overflow: hidden;
    background: transparent;
    border: 3px solid var(--cua-white);
    color: var(--cua-white);
    font-weight: 700;
}

/* Hover effect for outline white buttons */
.banner .btn.outline-btn-cu-bg-white::before,
.banner .btn.btn-cu-bg-white::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(255,255,255,0.5); /* Match the button's background color */
    transition: width 0.3s ease;
    z-index: -1;
}

.banner .btn.outline-btn-cu-bg-white:hover::before,
.banner .btn.btn-cu-bg-white:hover::before {
    width: 100%;
}

.banner .btn.outline-btn-cu-bg-white:hover,
.banner .btn.btn-cu-bg-white:hover {
    border-color: var(--cua-white);
    color: var(--cua-black);
    z-index: 1; /* Ensure button text appears above the background */
}


/* Adjust card header padding */
.banner .card-header {
    padding: 0;
}

/* Responsive adjustments for small screens */
@media (max-width: 680px) {
    .banner-body {
        width: 70%;
    }
    .banner .container-xl {
        max-width: 680px;
        object-fit: cover;
        min-height: fit-content;
        min-width: fit-content;
    }

    .banner h2, .banner .h2 {
        font-size: 2rem;
    }
}
