{# Carousel based on Bootstrap 5 #}
{%
    set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}

{% block paragraph %}
    <div{{ attributes.addClass(classes) }}>
        {% block content %}
            <div class="position-relative" style="min-height: 300px;">
                {{ content }}
            </div>
        {% endblock %}
    </div>
{% endblock paragraph %}

