/* CSS Style Sheet for call to action */
.call-to-action .img-hover-effect img {
    border-radius: 0.25rem 0.25rem 0 0!important;
}

.call-to-action.h-100 {
    margin: 0 .5rem !important;
}

/* responsive */
@media only screen and (max-width: 576px) {
    .layout__region.layout__region--second,
    .layout__region.layout__region--third,
    .layout__region.layout__region--fourth {
        margin: 1rem 0 0 !important;
    }

}
