/* CSS Style Sheet for call to action */
/* BS Overrides */
.call-to-action .card {
    --bs-card-spacer-y: 0 !important;
    --bs-card-spacer-x: 0 !important;
    --bs-card-title-spacer-y: 0 !important;
    --bs-card-cap-padding-y: 0 !important;
    --bs-card-cap-padding-x: 0 !important;
    --bs-card-img-overlay-padding: 0 !important;
    --bs-card-group-margin: 0 !important;
    border: none !important;
}

.card-header {
    padding: 0 !important;
    margin-bottom: 0 !important;
    color: transparent !important;
    background-color: transparent !important;
    border-bottom: none !important;
}

.call-to-action .cta-link {
    border: 1px solid var(--cua-gold) !important;
    background: var(--cua-white) !important;
    color: var(--cua-black) !important;
}

.call-to-action .cta-link:hover {
    background: var(--cua-gold) !important;
}

.call-to-action h3, .call-to-action .h3, .call-to-action h3 a, .call-to-action .h3 a {
    font-size: 1.25rem;
    margin: 0
}

.call-to-action .d-flex.justify-content-end .field--name-body p {
    text-align: right;
}

.block.block-block-content.call-to-action {
    height: 100% !important;
}

.call-to-action h3.justify-content-center {
    text-align: center !important;
}

.call-to-action.card {
    --bs-card-border-color: transparent !important;
}

.call-to-action .card-footer {
    background-color: transparent !important;
    border-top: none !important;
}
/* Colors */
/* Gold */
.call-to-action .cu-bg-gold {
    background: var(--cua-gold) !important;
    opacity: 1 !important;
}

.call-to-action .cu-bd-gold {
    border: 1px solid var(--cua-gold) !important;
    height: 100%;
}

.call-to-action .cta-link.border.cu-bd-gold {
    border: 1px solid var(--cua-black) !important;
    background: var(--cua-black) !important;
    color: var(--cua-gold) !important;
}

.call-to-action .cta-link.border.cu-bd-gold:hover {
    background: var(--cua-white) !important;
    color: var(--cua-black) !important;
}

.call-to-action .cta-link.border.cu-bd-gold {
    border: 1px solid var(--cua-black) !important;
    background: var(--cua-black) !important;
    color: var(--cua-gold) !important;
}

/* Black */
.call-to-action .cu-bg-black {
    background: var(--cua-black) !important;
    color: var(--cua-white) !important;
    opacity: 1 !important;
}

.call-to-action .cu-bd-black {
    border: 1px solid var(--cua-black) !important;
    height: 100%;
}

.call-to-action .cta-link.border.cu-bd-black {
    border: 1px solid var(--cua-gold) !important;
    background: var(--cua-gold) !important;
    color: var(--cua-black) !important;
}

.call-to-action .cta-link.border.cu-bd-black:hover {
    background: var(--cua-white) !important;
}

/* White Light Grey*/
.call-to-action .cu-bg-light-grey {
    background: var(--cua-gray-100) !important;
    opacity: 1 !important;
}

.call-to-action .cu-bd-light-grey {
    border: 1px solid var(--cua-gray-200) !important;
    height: 100%;
}

.call-to-action .cta-link.border.cu-bd-light-grey {
    border: 1px solid var(--cua-gray-100) !important;
    background: var(--cua-white) !important;
    color: var(--cua-black) !important;
}

.call-to-action .cta-link.border.cu-bd-light-grey:hover {
    background: var(--cua-black) !important;
    color: var(--cua-white) !important;
}

/* White */
.call-to-action .cu-bg-white {
    background: var(--cua-white) !important;
    opacity: 1 !important;
}

.call-to-action .cu-bd-white {
    border: 1px solid var(--cua-white) !important;
    height: 100%;
}

.call-to-action .cta-link.border.cu-bd-white {
    border: 1px solid var(--cua-white) !important;
    background: var(--cua-white) !important;
    color: var(--cua-black) !important;
}

.call-to-action .cta-link.border.cu-bd-white:hover {
    background: var(--cua-black) !important;
    color: var(--cua-white) !important;
}

.call-to-action .cu-bg-white .cta-link.cu-bd-gold  {
    background: var(--cua-white) !important;
    color: var(--cua-black) !important;
}

.call-to-action .cu-bg-white .cta-link.cu-bd-gold:hover  {
    background: var(--cua-black) !important;
    color: var(--cua-white) !important;
}

.cta-link {
    font-size: .9rem !important;
    font-weight: bold !important;
    padding: .5rem 1.5rem !important;
}

@media only screen and (max-width: 576px) {

}
