{#
/**
 * @file
 * Template for the Alert component.
 *
 * Bootstrap Documentation
 * https://getbootstrap.com/docs/5.3
 *
 * Full List Utility Classes
 * https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
 *
 * Available fields located in:
 * - cua_theme.theme
 */
#}

{# Add Classes #}
{% set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'alert alert-dismissible',
    'card rounded-0',
    'h-100',
    color_background is not empty ? color_background ~ ' ' ~ color_border|clean_class : '',
    container_size is not empty ? container_size|clean_class : '',
    id ? 'block--' ~ id|replace({"_": "-"})|clean_class,
] %}

{# Add unique id to block #}
{% set unique_id = [
    plugin_id ? 'block--' ~ plugin_id|replace({"_": "-", ":": "--"}) ~ '-' ~ elements.content['#block_content'].id()
] %}

{# Render content #}
<div{{ attributes|without('id').addClass(classes).setAttribute('id', unique_id ) }}>
    <div class="container">
        <div class="row">

            {# button close #}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>

            {# Icon #}
            {% if icon %}
                <div class="col-sm-1 icon-container">
                    <div class="{% if icon %}d-md-flex justify-content-md-end justify-content-sm-start{% endif %}">
                        <i class="{{ icon ~ ' ' ~ icon_size }} mt-5 pt-1" style="color: {{ icon_color }}"></i>
                    </div>
                </div>
            {% endif %}

            <div class="col-sm-{{ content.field_icon is not empty ? '11' : '12' }} p-3">
                {# Include Title/Body Component #}
                {% include '@cua_theme/component/card/_card--title-body.html.twig' %}
                {# Include Link/Button Component #}
                {% include '@cua_theme/component/card/_card--footer-btn.html.twig' %}
            </div>

        </div>
    </div>
</div>
