{# Body #}
{% if body %}
    {# Define Body Classes #}
    {% set body_classes = [
        'card-body d-flex flex-column card-text lead g-0 clearfix',
        padding ?? null,
        text_color ?? null,
        text_alignment ?? null,
    ] | filter(v => v) | join(' ') %}
    <div class="{{ body_classes }}">
        {{ content.body|render }}
    </div>
{% endif %}