{# Include Title #}
{{ title_prefix ?? '' }}
<div class="display-4 card-text lead h3 title {{ [
    center_content is not empty ? ' ' ~ center_content,
    text_alignment is not empty ? ' ' ~ text_alignment,
    text_color is not empty ? ' ' ~ text_color,
    padding is not empty ? ' ' ~ padding,
]|join }}">
    {{ label }}
</div>
{{ title_suffix ?? '' }}