{# Include Title #}

{# Define Title Classes #}
{% set title_classes = [
    'display-4 card-text lead h3 title',
    center_content ?? null,
    text_alignment ?? null,
    text_color ?? null,
    padding ?? null,
] | filter(v => v) | join(' ') %}

{# Title #}
{{ title_prefix }}
<div class="{{ title_classes }}">
    {{ label }}
</div>
{{ title_suffix }}