{# Site name #}
<div class="container-fluid site-name-wrapper g-0">
    <div class="container px-3 my-2">
        <h1 class="site-slogan">
            <a href="{{ url('<front>') }}" title="{{ site_name }}" class="site-link" rel="home">
                <span>{{ site_name }}</span>
            </a>
        </h1>
    </div>
</div>