{# Site name #}
<div class="container-fluid site-name-wrapper g-0">
    <div class="container px-3 my-2">
        <div class="row">
            <div class="col">
                <h1 class="site-slogan">
                    <a href="{{ url('<front>') }}" title="{{ site_name }}" class="site-link" rel="home">
                        <span>{{ site_name }}</span>
                    </a>
                </h1>
            </div>
            <div class="col d-flex justify-content-end mt-3 mx-3">
                {% if page.breadcrumb %}
                    {% block breadcrumb %}
                        {{ page.breadcrumb }}
                    {% endblock %}
                {% endif %}
            </div>

        </div>
    </div>
</div>