{#
/**
* @file
* Template for the Call to Action component.
*
* Bootstrap Documentation
* https://getbootstrap.com/docs/5.3
*
* Full List Utility Classes
* https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
*
* Available fields located in:
* - cua_theme.theme
*/
#}

{# If class is active #}
{% set background_color = color_background is not empty ? color_background|clean_class : '' %}
{% set border_color = color_border is not empty ? color_border|clean_class : '' %}
{% set size = container_size is not empty ? container_size|clean_class : '' %}

{# Classes #}
{% set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'call-to-action',
    'card rounded-0 h-100',
    background_color,
    border_color,
    size,
    id ? 'block--' ~ id|replace({"_": "-"})|clean_class,
] %}

{# Initialize animation classes #}
{% set animation_classes = [] %}

{# Add optional classes based on conditions #}
{% if animation or animation_speed or animation_delay %}
    {% set animation_classes = animation_classes | merge(['animate-trigger']) %}
{% endif %}

{# Add unique id to block #}
{% set unique_id = [
    plugin_id ? 'block--' ~ plugin_id|replace({"_": "-", ":": "--"}) ~ '-' ~ elements.content['#block_content'].id()
] %}

{# Content #}
<div{{ attributes|without('id').addClass(classes, animation_classes).setAttribute('id', unique_id ) }}{% if animation or animation_speed or animation_delay %} data-animation-classes="animate__animated {{ animation ~ ' ' ~ animation_speed ~ ' ' ~ animation_delay }}"{% endif %}>
    {# Include Image Component #}
    {% include '@cua_theme/component/card/_card--image.html.twig' %}
    {# Include Icon Component #}
    {% include '@cua_theme/component/card/_card--icon.html.twig' %}
    {# Include Title/Body Component #}
    {% include '@cua_theme/component/card/_card--title-body.html.twig' %}
    {# Include Link/Button Component #}
    {% include '@cua_theme/component/card/_card--footer-btn.html.twig' %}
</div>
