{#
/**
* @file
* Template for the Call to Action component.
*
* Bootstrap Documentation
* https://getbootstrap.com/docs/5.3
*
* Full List Utility Classes
* https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
*
* Available fields located in:
* - cua_theme.theme
*/
#}

{# Add optional classes based on conditions #}
{% set color_background = color_background is not empty ? color_background|clean_class : '' %}
{% set color_border = color_border is not empty ? color_border|clean_class : '' %}
{% set container_size = container_size is not empty ? container_size|clean_class : '' %}
{% set margins = margins is not empty ? margins|clean_class : '' %}

{# Add unique id to block #}
{% set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'call-to-action',
    'card rounded-0 h-100',
    color_background,
    color_border,
    container_size,
    margins,
    id ? 'block--' ~ id|replace({"_": "-"})|clean_class,
] %}

{# Add unique id to block #}
{% set unique_id = [
    plugin_id ? 'block--' ~ plugin_id|replace({"_": "-", ":": "--"}) ~ '-' ~ elements.content['#block_content'].id()
] %}

{# Initialize animation classes #}
{% set animate_classes = [] %}

{# Add animate-trigger class based on conditions #}
{% if animation or animation_speed or animation_delay %}
    {% set animate_classes = ['animate-trigger'] %}
{% endif %}

{# Content #}
<div{{ attributes|without('id').setAttribute('id', unique_id ).addClass(classes, animate_classes) }}{% if animation or animation_speed or animation_delay %} data-animation-classes="animate__animated {{ animation ~ ' ' ~ animation_speed ~ ' ' ~ animation_delay }}"{% endif %}>
    {# Include Image Component #}
    {% include '@cua_theme/component/card/_card--image.html.twig' %}
    {# If Video include component #}
    {% if provider is not empty and image is empty %}
        {% include '@cua_theme/component/video/include/_video--master.html.twig' %}
    {% endif %}
    {# Include Icon Component #}
    {% include '@cua_theme/component/card/_card--icon.html.twig' %}
    {# Include Title/Body Component #}
    {% include '@cua_theme/component/card/_card--title-body.html.twig' %}
    {# Include Link/Button Component #}
    {% include '@cua_theme/component/card/_card--footer-btn.html.twig' %}
</div>
