{#
/**
 * @file
 * Template for the Call to Action component.
 *
 * Bootstrap Documentation
 * https://getbootstrap.com/docs/5.3
 *
 * Full List Utility Classes
 * https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
 *
 * Available array of classes:
 * - border_style :
 * - button_color :
 * - color_background :
 * - color_border :
 * - icon :
 * - icon_color :
 * - icon_size :
 * - image_alignment :
 * - image_size :
 * - padding :
 * - page_title_visibility :
 * - position_container :
 * - size :
 * - text_alignment :
 * - text_color :
 * - outline :
 * - visibility :
 */
#}

{# Add Classes #}
{% set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'call-to-action',
    'card',
    'animate__animated animate__fadeIn',
    'rounded-0',
    'border border-light border-5',
    'h-100',
    color_background is not empty ? color_background ~ ' ' ~ color_border|clean_class : '',
    container_size is not empty ? container_size|clean_class  : '',
    id ? 'block--' ~ id|replace({"_": "-"})|clean_class,]|merge(utility_classes ? utility_classes : []) %}

{# Add unique id to block #}
{% set unique_id = [
    plugin_id ? 'block--' ~ plugin_id|replace({"_": "-", ":": "--"}) ~ '-' ~ elements.content['#block_content'].id()
] %}

{# Render content #}
<div{{ attributes|without('id').addClass(classes).setAttribute('id', unique_id ) }}>
    {% if animation or animation_speed or animation_delay is not empty %}
    <div class="animate-trigger g-0 p-0 m-0"
         data-animation-classes="animate__animated animate__{{ animation }} animate__{{ animation_speed }} animate__delay-{{ animation_delay }}">
        {% endif %}
        {% include '@cua_theme/component/card/_card--image.html.twig' %}
        {# Include Title/Body Component #}
        {% include '@cua_theme/component/card/_card--title-body.html.twig' %}
        {# Include Link/Button Component #}
        {% include '@cua_theme/component/card/_card--footer-btn.html.twig' %}
        {% if animation or animation_speed or animation_delay is not empty %}
    </div>
    {% endif %}
</div>
