{#
/**
 * @file
 * Template for the Call to Action component.
 *
 * Bootstrap Documentation
 * https://getbootstrap.com/docs/5.3
 *
 * Full List Utility Classes
 * https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
 *
 * Available array of classes:
    'body',
    'field_animation',
    'field_animation_delay',
    'field_animation_speed',
    'field_autoplay',
    'field_border_style',
    'field_button_color',
    'field_campus',
    'field_category',
    'field_center_content',
    'field_container_size',
    'field_color_background',
    'field_color_border',
    'field_text_color',
    'field_effect',
    'field_effect_copy',
    'field_icon',
    'field_icon_color',
    'field_icon_size',
    'field_image_alignment',
    'field_image_size',
    'field_padding',
    'field_page_title_visibility',
    'field_parallax',
    'field_position_container',
    'field_provider',
    'field_size',
    'field_text_alignment',
    'field_text_color',
    'field_outline',
    'field_video',
    'field_visibility',
 */
#}

{# Add Classes #}
{% set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'call-to-action',
    'card',
    'animate__animated animate__fadeIn',
    'rounded-0',
    'border border-light border-5',
    'h-100',
    color_background is not empty ? color_background ~ ' ' ~ color_border|clean_class : '',
    container_size is not empty ? container_size|clean_class  : '',
    id ? 'block--' ~ id|replace({"_": "-"})|clean_class,]|merge(utility_classes ? utility_classes : []) %}

{# Add unique id to block #}
{% set unique_id = [
    plugin_id ? 'block--' ~ plugin_id|replace({"_": "-", ":": "--"}) ~ '-' ~ elements.content['#block_content'].id()
] %}

{# Render content #}
{# Animation Start #}
    {% if animation or animation_speed or animation_delay is not empty %}
<div class="border border-light border-5 animate-trigger g-0 p-0 m-0 h-100"
     data-animation-classes="animate__animated animate__{{ animation }} animate__{{ animation_speed }} animate__delay-{{ animation_delay }}">
    {% endif %}
    <div{{ attributes|without('id').addClass(classes).setAttribute('id', unique_id ) }}>
        {% include '@cua_theme/component/card/_card--image.html.twig' %}
        {# Include Title/Body Component #}
        {% include '@cua_theme/component/card/_card--title-body.html.twig' %}
        {# Include Link/Button Component #}
        {% include '@cua_theme/component/card/_card--footer-btn.html.twig' %}
    </div>
    {# Animation End #}
    {% if animation or animation_speed or animation_delay is not empty %}
</div>
{% endif %}