{# ## Call to Action Card # ##}

{# Attach library #}
{{ attach_library('cua_theme/call-to-action') }}

{# Add Classes #}
{% set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'call-to-action card rounded h-100 m-2',
    color_background is not empty ? color_background ~ ' ' ~ color_border|clean_class  : '',
    id ? 'block--' ~ id|replace({"_": "-"})|clean_class,]|merge(utility_classes ? utility_classes : []) %}

{# Add unique id to block #}
{% set unique_id = [
    plugin_id ? 'block--' ~ plugin_id|replace({"_": "-", ":": "--"}) ~ '-' ~ elements.content['#block_content'].id()
] %}

{# Render block content #}
<div{{ attributes|without('id').addClass(classes).setAttribute('id', unique_id ) }}>
    {# Include Image Component #}
    {% include '@cua_theme/component/card/_card--image.html.twig' %}
    {# Include Title/Body Component #}
    {% include '@cua_theme/component/card/_card--title-body.html.twig' %}
    {# Include Link/Button Component #}
    {% include '@cua_theme/component/card/_card--footer-btn.html.twig' %}
</div>
