{#
/**
* @file
* Template for the Call to Action component.
*
* Bootstrap Documentation
* https://getbootstrap.com/docs/5.3
*
* Full List Utility Classes
* https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
*
* Available fields located in:
* - cua_theme.theme
*/
#}

{# Add optional classes based on conditions #}
{% set color_background = color_background is not empty ? color_background|clean_class : '' %}
{% set color_border = color_border is not empty ? color_border|clean_class : '' %}
{% set container_size = container_size is not empty ? container_size|clean_class : '' %}
{% set margins = margins is not empty ? margins|clean_class : '' %}

{# Set data attributes for animation #}
{% set animation_classes = [] %}
{% if animation or animation_speed or animation_delay %}
    {% set animation_classes = (animation or animation_speed or animation_delay) ? ['animate__animated', animation, animation_speed, animation_delay] : [] %}
{% endif %}
{% set data_animation_classes = animation_classes | join(' ')|trim %}
{% set animate_trigger = (animation or animation_speed or animation_delay) ? 'animate-trigger' : '' %}

{# Add CTA classes #}
{% set cta_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'call-to-action',
    'card rounded-0 h-100 mx-3',
    animate_trigger,
    color_background,
    color_border,
    container_size,
    margins,
    id ? 'block--' ~ id|replace({"_": "-"})|clean_class
] | merge(utility_classes ? utility_classes : []) | join(' ')|trim %}

{# Add unique id to block #}
{% set unique_id = [
    plugin_id ? 'block--' ~ plugin_id|replace({"_": "-", ":": "--"}) ~ '-' ~ elements.content['#block_content'].id()
] %}

{# Content #}
<div{{ attributes|without('id').setAttribute('id', unique_id ).addClass(cta_classes, animate_classes) }}
        {% if data_animation_classes %} data-animation-classes="{{ data_animation_classes }}"{% endif %}>
    {# Media Component Logic #}
    {% if provider is not empty %}
        {# Include Video Component  #}
        {% include '@cua_theme/component/video/include/_video--master.html.twig' %}
    {% elseif card_image is not empty %}
        {# Include Image Component #}
        {% include '@cua_theme/component/card/_card--image.html.twig' %}
    {% elseif icon is not empty %}
        {# Include Icon Component #}
        {% include '@cua_theme/component/card/_card--icon.html.twig' %}
    {% else %}
    {% endif %}
    {# Include Title/Body/Link Component #}
    {% include '@cua_theme/component/content/_title_body_link.html.twig' %}
</div>
