{#
/**
 * @file
 * Theme override for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - sub_title: The subtitle to be displayed below the main title.
 *
 * @see template_preprocess_page_title()
 */
#}

{%
    set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
]
%}


{% if title_visibility|lower == 'visible' %}
    <h1 class="page-title">{{ title }}</h1>
    <span aria-hidden="true" class="base-heading-square__accent"></span>
{% else %}
    <h1 class="sr-only">{{ title }}</h1>
{% endif %}



