/* Header styling */

/* Site Slogan */
h1.site-slogan {
    padding: 0 0 15px;
    margin: 0;
}

.banner h2, .banner .h2 {
    font-size: 50px;
    text-transform: uppercase;
    line-height: 1.1;
}

/* Site Name Wrapper */
.site-name-wrapper {
    background-color: var(--cua-white-light);
    border-color: var(--cua-white);
    border-style: solid;
    border-width: 1px 0 0 1px;
    width: 100%;
}

/* Site Branding Links */
a.site-branding__logo, a.site-branding__name {
    text-decoration: none;
}

/* Site Branding Name */
a.site-branding__name {
    display: block;
    text-decoration: none;
    color: var(--cua-black);
    font-weight: 700;
    font-size: 1.15rem;
    padding: 0 0 0 .5rem;
    margin: .01rem 0 0;
}

a.site-branding__name:hover {
    color: var(--cua-gold);
}

a.site-branding__name span {
    padding: 0 0 0 .5rem;
}

/* Site Link */
.site-link {
    color: var(--cua-gray-800);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    padding: 0.25em 0;
}

.site-link:hover {
    color: var(--cua-gold);
}

h1.site-link {
    line-height: 0;
}

/* Navigation */
.site-branding__text a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
}

/* Navbar Padding and Links */
a.nav-link.nav-link--, .nav-item .menu-item--expanded .dropdown, .nav-item .menu-item--expanded. .active .dropdown {
    padding: 0.938rem;
}

.navbar {
    --bs-navbar-padding-y: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    text-decoration: none;
}

.navbar-expand-lg .navbar-nav .nav-link ul li a:first-child {
    padding: .75rem 1.5rem .75rem 0;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    background: var(--cua-dark-gray);
    color: var(--cua-white);
}

#navbar-main {
    border-top: 1px solid var(--cua-white);
    background: var(--cua-white);
}

header .nav-link {
    color: var(--cua-dark-gray);
    background: var(--cua-white);
    padding: .5rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

/* Custom CSS to move the last link to the right */
#block-cua-theme-main-menu {
    width: 100% !important;
}

.menu--main ul li a {
    position: relative;
    text-decoration: none;
    color: var(--cua-black)
}


.menu--main ul li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* Adjust the line thickness as needed */
    background-color: var(--cua-gray-400);
    transition: width 0.3s ease;
}

.menu--main ul li a:last-child::before {
    background-color: var(--cua-white) !important;
}

.menu--main ul li a:hover::before {
    width: 100%;
}

header  ul.nav.navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
}

header  ul.nav.navbar-nav li {
    margin-right: 1rem; /* Adjust the margin between list items as needed */
}

header  ul.nav.navbar-nav li:last-child {
    margin-left: auto;
}

header .nav-link:last-child {
    color: var(--cua-black);
    background: var(--cua-white);
    justify-content: end !important;
}

header .nav-link:last-child:hover {
    color: var(--cua-gold) !important;
}

.nav-link:hover {
    color: var(--cua-gold);
    background: var(--cua-white);
    text-decoration: none;
}

header .nav-link:last-child::before {
    color: var(--cua-gold);
    content: "\f004";
    font-family: FontAwesome;
    margin: 0 .5rem 0;
    position: absolute;
    top: 7px;
    left: -25px;
}

.nav-link:hover,
.nav-link.is-active:hover {
    color: var(--cua-black) !important;
    background: var(--cua-white) !important;
    text-decoration: none;
}

.navbar-expand-lg .navbar-nav .nav-link ul li:first-child {
    padding: 0.75rem 1.5rem;
    position: relative;
    left: -9999px;
}

.nav-link.dropdown-toggle,
.nav-link.is-active,
.nav-link.active.is-active {
    text-decoration: none;
}

.nav-link.active.dropdown-toggle {
    background: transparent;
    color: var(--cua-white);
}

.nav-link.dropdown-toggle.show:hover {
    color: var(--cua-white);
    background: var(--cua-black);
}

.nav-link.active.is-active {
    color: var(--cua-black);
    background: var(--cua-white);
}

ul .nav.navbar-nav {
    margin: 0.75rem 0;
}

/* Dropdown */
.dropdown-menu {
    border: none;
}

.dropdown-menu.show {
    border-top: 3px solid var(--cua-black);
    border-radius: 0;
    box-shadow: -3px 4px 13px -3px rgba(0,0,0,0.44);
    -webkit-box-shadow: -3px 4px 13px -3px rgba(0,0,0,0.44);
    -moz-box-shadow: -3px 4px 13px -3px rgba(0,0,0,0.44);
}

.dropdown-item a, .dropdown-item a:visited {
    color: var(--cua-black);
    font-weight: 400;
    text-decoration: none;
}

.dropdown-item a:hover {
    background-color: var(--cua-white);
    color: var(--cua-gold-hover);
}

.dropdown-item:hover {
    color: var(--bs-dropdown-link-hover-color);
    background-color: var(--cua-white) !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--cua-white);
}

.dropdown-item.active, .dropdown-item:active {
    background-color: transparent;
}

/* Font Awesome */
nav#navbar-main > li.first a:before {
    font-family: var(--fa-style-family-classic);
    display: block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 1;
    text-indent: 0;
    margin-top: 6px;
    content: "\f015";
}

/* Search */
header #search-block-form {
    margin: .8rem 0 0;
}

#search-block-form .form-control {
    padding: 0;
}

#search-block-form .btn-primary {
    color: var(--cua-gray-800);
    background: transparent;
    padding: .25rem .5rem;
}

#search-block-form .js-form-type-search input.form-search {
    background: var(--cua-white);
    border: 1px solid var(--cua-gray-300);
    font-size: .85rem;
    margin-top: .02rem;
    padding: .1rem .5rem;
}

/* Float search right */
div#block-cua-theme-searchform {
    text-align: end;
}

/* Responsive */
@media only screen and (max-width: 576px) {
    #navbar-main {
        background-color: transparent;
        border-top: transparent;
    }

    .navbar-nav > li:not(:last-child) {
        border-right-color: transparent;
    }

    #navbar-main {
        background: var(--cua-dark-gray);
    }

    h1.site-slogan {
        padding: 10px;
        margin: 0;
    }
}




