/* Header styling */

header#header {
    background: var(--cua-white) !important;
}

/* Site Slogan */
h1.site-slogan {
    padding: 0;
}

/* Site Name Wrapper */
.site-name-wrapper {
    width: 100%;
    background: var(--bg-light) !important;
}

/* Site Branding Links */
a.site-branding__logo,
a.site-branding__name,
.site-link {
    text-decoration: none;
}

a.site-branding__name,
.site-link {
    display: block;
}

a.site-branding__name {
    color: var(--cua-black);
    font-size: 1.15rem;
    font-weight: 700;
    line-height: 1.1;
    padding: 0;
    margin: .2rem 0 0 .5rem;
}

.site-link {
    color: #333;
    font-size: 26px;
    font-weight: 900;
    padding: 0.25em 0;
}

a.site-branding__name:hover,
.site-link:hover {
    color: var(--cua-gold-hover);
    text-decoration: none;
}

h1.site-link {
    line-height: 0;
}

/* Navigation */
nav#navbar-main {
    background: var(--uci-gray);
    color: var(--bg-light);
}

nav#navbar-main.sticky {
    background: rgba(0, 0, 0, 0.85);
}

.navbar-toggler {
    color: var(--cua-white);
    background-color: var(--cua-gold);
    border: var(--bs-border-width) solid var(--cua-white);
}

.site-branding__text a {
    text-decoration: none;
    font-weight: 400;
}

.navbar-expand-lg .navbar-nav .nav-link,
.nav-link.dropdown-toggle,
.nav-link.is-active,
.nav-link.active.is-active {
    text-decoration: none;
}

.navbar-expand-lg .navbar-nav .nav-link ul li a:first-child,
.navbar-expand-lg .navbar-nav .nav-link ul li:first-child {
    padding: .75rem 1.5rem;
}

/* Navbar Padding and Links */
.nav-link.active.dropdown-toggle,
.navbar-expand-lg a.nav-link.is-active {
    background-color: var(--cua-black);
    color: var(--cua-white) !important;
}

/* Custom CSS to move the last link to the right */
.menu--main ul li a:hover::before,
#block-cua-theme-main-menu {
    width: 100% !important; /* Width adjusted to 100% on hover */
}

.navbar-expand-lg .navbar-nav .nav-link {
    position: relative;
    text-decoration: none;
    color: inherit; /* Use the default text color */
}

/*
.navbar-expand-lg .navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--cua-gold);
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.navbar-expand-lg .navbar-nav .nav-link:hover::before {
    left: 0;
    width: 100%;
}

/* Font Awesome */
nav#navbar-main > li.first a:before {
    font-family: var(--font-awesome);
    display: block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 1;
    text-indent: 0;
    margin-top: 6px;
    content: "\f015"; /* Content for Font Awesome icon */
}

/* Search */
.search-icon {
    display: block;
    float: inline-end;
}

button.search-icon {
    padding: 0.7em;
    background: #ebebeb;
    box-shadow: none;
    margin: 0;
    line-height: 0;
}

button.search-icon {
    border-radius: 50%;
    padding: 0.6rem;
    background: var(--cua-gray-200);
    box-shadow: 0 0 1px 0 rgb(0 0 0 / 50%);
    margin: 0 3px;
}

button.search-icon:hover {
    background: var(--cua-gray-400)
}

header .search-block-form {
    margin: 0.5rem 0 0;
}

.search-block-form .form-control {
    padding: 0;
}

.search-block-form .btn-primary {
    color: #212529;
    background: #cdd1d7;
    border: 1px solid #acb5bd;
    border-left-color: #cdd1d7 !important; /* Set the right border color to white */
    border-radius: 0 10px 10px 0;
    font-weight: 500;
    font-size: .95rem;
    letter-spacing: normal;
    margin: 0;
    padding: .41rem 1.25rem;
}

.search-block-form .btn-primary:hover {
    color: var(--cua-white);
    background: var(--cua-black);
    border: 1px solid var(--cua-black);
    border-left-color: var(--cua-black) !important; /* Set the right border color to white */

    box-shadow: 0 0 0 0.25rem rgba(223, 200, 140, 0);
    cursor: pointer !important;
    text-decoration: none;
}

.search-block-form .js-form-type-search input.form-search,
.search-block-form .container {
    box-sizing: border-box;
}

.search-block-form .js-form-type-search input.form-search {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--cua-gray-800);
    background-color: var(--cua-white);
    background-clip: padding-box;
    border: 1px solid var(--cua-gray-500);
    border-radius: 10px 0 0 10px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-right: 0;
}

.search-block-form .container {
    /* Adjust the container width if needed */
    width: 100%;
}

.search-block-form .content.container-inline {
    width: 100% !important;
}

.search-block-form .js-form-item.js-form-type-search.form-type-search.js-form-item-keys.form-item-keys.form-no-label.mb-3 {
    flex: auto;
}

p.search-button {
    margin: .48rem 0 0;
    padding: 0 1rem 0;
}

header #search-block-form {
    padding: 5px 15px;
    flex-flow: row wrap;
    border-bottom: 2px solid var(--cua-white);
}

.form-control:focus {
    border: 1px solid #acb5bd !important;
    outline: 0;
    box-shadow: none !important;
}

/* Dropdown */
.dropdown-menu {
    border: none;
}

.dropdown-menu.show {
    border-bottom: 3px solid var(--cua-gold);
    border-radius: 0;
    z-index: 99999;
    box-shadow: -3px 4px 13px -3px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: -3px 4px 13px -3px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: -3px 4px 13px -3px rgba(0, 0, 0, 0.44);
}

.dropdown-item a,
.dropdown-item a:visited {
    color: var(--cua-black);
    font-weight: 400;
    text-decoration: none;
}

.dropdown-item a:hover, .dropdown-item:hover, .dropdown-item.active,
.dropdown-item:active {
    background-color: #595955;
    color: var(--cua-white);
}

.dropdown-toggle::after {
    color: #cfb87b;
}

/* Secondary Menu */

.secondary-menu {
    margin-top: .525rem;
}

.secondary-menu .nav-link.nav-link- {
    text-decoration: none;
    font-size: .9rem;
    font-weight: 600 !important;
    text-transform: none !important;
    color: var(--cua-black) !important;
}

.secondary-menu .nav-link.nav-link-:hover {
    color: var(--cua-gold-hover);
}

/* Target all anchor elements within .nav-link */
.secondary-menu a.nav-link {
    color: var(--cua-gray-700);
    font-size: .95rem;
    text-transform: none !important;
    padding: 0.5rem;
}

.secondary-menu a.nav-link:hover {
    color: var(--cua-gold);
}

/* Style the last .nav-link element */
.secondary-menu .nav-item:last-child .nav-link {
    position: relative;
    z-index: 1;
    background: var(--cua-white);
    border: 1px solid var(--cua-black);
    color: var(--cua-black) !important;
    font-size: .8rem;
    overflow: hidden;
    padding: .5rem 1rem;
    margin-left: 1rem;
}

.secondary-menu .nav-item:last-child .nav-link:hover {
    color: var(--cua-white) !important;
    text-decoration: none !important;
}

.secondary-menu .nav-item:last-child .nav-link::after {
    font-family: var(--font-awesome);
    font-size: .8rem;
    content: "\f06b"; /* Font Awesome icon for heart */
    margin: 0 0 0 0.5rem;
}

/* Style the pseudo-element for the last .nav-link element */
.secondary-menu .nav-item:last-child .nav-link::before {
    font-family: var(--font-awesome);
    content: "";
    position: absolute;
    top: 0;
    left: -100%; /* Start off-screen to the left */
    width: 100%;
    height: 100%;
    background: var(--cua-black); /* Background color on hover */
    color: var(--cua-white); /* Background color on hover */
    z-index: -1; /* Behind the link text */
    transition: left 0.5s ease; /* Transition the left position */
}

/* Move the pseudo-element to the right on hover */
.secondary-menu .nav-item:last-child .nav-link:hover::before {
    left: 0;
}

/* Add Home icon to first link in main nav
header .navbar-nav > .nav-item:first-child > .nav-link {
    font-size: 0;
}

header .navbar-nav > .nav-item:first-child > .nav-link::before {
    font-family: "FontAwesome";
    content: "\f015";
    font-size: .9rem;
    position: absolute;
    top: 1rem;
    left: 0;
}
*/

header .sticky .navbar-nav > .nav-item:first-child > .nav-link::before {
    font-size: .75rem;
}

/* Sticky Header Menu */

.sticky {
    background: var(--cua-white);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Adjust the z-index as needed */
    border-bottom: 1px solid var(--cua-black-pure) !important; /* Light grey border at the bottom */
}

.header .sticky .container.my-2 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.header .nav-link {
    transition: font-size 0.3s ease; /* Adjust the transition timing and easing function as needed */
    font-size: 1rem;
}

.header .scrolled .nav-link {
    font-size: .85rem;
}

.header .sticky {
    box-shadow: 0 .05rem 1rem rgba(0, 0, 0, 1) !important;
    transition: font-size .25s ease-in-out, color .25s ease-in-out, background-color .25s ease-in-out, border-color .25s ease-in-out;
}

.header .sticky .nav-link {
    color: var(--cua-white) !important;
    font-size: .85rem;
    transition: font-size .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.header .sticky .nav-link:hover {
    color: var(--cua-gold) !important;
}

.header .sticky .nav-link.active.dropdown-toggle {
    background-color: transparent;
}

.header .sticky .nav-link.nav-link-:last-child {
    font-size: .85rem;
    color: var(--cua-gold) !important;
    transition: color .25s ease-in-out, font-size .25s ease-in-out;
}

.header .sticky .nav-link.nav-link-:last-child::after {
    font-family: var(--font-awesome);
    font-size: .85rem;
    content: "\f06b"; /* Font Awesome icon for heart */
    margin: 0 0 0 0.5rem;
}

.header .sticky .nav-link.nav-link-:last-child:hover {
    color: var(--cua-white) !important;
}

.header .sticky nav#block-cua-theme-secondarymenu--2 {
    margin: 0;
}

.navbar.sticky {
    border-top: 1px solid var(--cua-gold) !important;
}

/* Sticky Search */
.header .sticky-search {
    display: none !important;
}

.header .sticky .sticky-search {
    display: block !important;
    position: absolute;
    right: 0;
}

.header .sticky .search-icon {
    top: 0.55rem;
    position: absolute;
    right: 15px;
}

.header .sticky button.search-icon {
    background: var(--cua-black);
    color: var(--cua-white) !important;
}

.secondary-menu-sticky {
    margin: .65rem 4rem 0 0 !important;
}

img.sticky-show {
    display: none;
}

.sticky img.sticky-show {
    display: block;
    margin: 0 1rem 0 0;
}

/* Change header nav dark */
header .nav-item {
    border-right: 1px solid var(--cua-gray-500);
}

header .sticky .nav-item {
    border-right: 1px solid transparent;
}

header .nav-item.active {
    color: var(--cua-black) !important;
}

header .nav-item:first-child {
    border-right: 1px solid var(--cua-gray-500);
}

header .sticky .nav-item:first-child {
    border-right: 1px solid transparent;
}

header .navbar {
    --bs-navbar-padding-y: 0 !important;
}

header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0.938rem !important;
}

header li.nav-item:hover {
    background: var(--cua-white) !important;
    color: var(--cua-black) !important;
}

header a.nav-link.active {
    background: white;
}

header .secondary-menu .nav-item:first-child,
header .secondary-menu .nav-item {
    border-right: 1px solid transparent;
}

.header .sticky .nav-link {
    color: var(--cua-white) !important;
    background: transparent;
    font-size: .85rem;
    transition: font-size .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.header .sticky .nav-link:hover {
    color: var(--cua-gold) !important;
}

header .sticky li.nav-item:hover {
    background: transparent !important;
}

/* Adj navigation */
span.nav-link.dropdown-toggle.nav-link- {
    cursor: pointer;
}

.dropdown-item {
    padding: 0 !important;
}

.dropdown-item a, .dropdown-item a:visited {
    padding: .45rem 1rem;
    display: block;
    transition: all 0.3s ease;
}

.dropdown-menu {
    --bs-dropdown-padding-y: 0 !important;
}

.dropdown-menu a.active.is-active {
    color: var(--cua-white) !important;
}

.btn.btn-logout {
    background: var(--cua-black);
    color: var(--cua-white);
    border: 1px solid var(--cua-black);
    padding: .46rem .9rem;
    font-weight: normal;
    display: inline-block;
    border-radius: 0;
    transition: background-color 0.7s ease;
    width: auto;
    font-size: .85rem;
}

.btn.btn-logout:hover {
    background: var(--cua-white);
    color: var(--cua-black);
    border: 1px solid var(--cua-black);
    text-decoration: none;
}

/* Remove header for scroll to action correction */
.path-faq .sticky {
    position: relative !important;
}

/* Sticky give now */
.header .secondary-menu-sticky .nav-link {
    font-size: .75rem !important;
    background: var(--cua-white);
    color: var(--cua-black) !important;
    padding: .4rem 1rem;
}

.secondary-menu-sticky li.nav-item:last-child {
    border: 1px solid white !important;
}

.secondary-menu-sticky li.nav-item:last-child:hover {
    border: 1px solid var(--cua-gold) !important;
}

.header .secondary-menu-sticky .nav-link:hover {
    color: var(--cua-gold) !important;
    background: var(--cua-black) !important;
    text-decoration: none !important;
}

.secondary-menu-sticky li.nav-item:last-child .nav-link::before {
    font-family: var(--font-awesome);
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: transparent;
    color: var(--cua-white);
    z-index: -1;
    transition: left 0.5s ease;
}

.secondary-menu-sticky li.nav-item:last-child .nav-link::after {
    font-family: var(--font-awesome);
    font-size: .8rem;
    content: "\f06b";
    margin: 0 0 0 0.5rem;
}

.secondary-menu-sticky:last-child {
    margin: .1rem 6.5rem 0 0 !important;
}

/* Responsive */
@media only screen and (max-width: 991px) {
    #navbar-main {
        background-color: transparent;
        border-top: 1px solid var(--cua-gray-200);
        padding: 0 !important;
    }

    .navbar-nav > li:not(:last-child) {
        border-right-color: transparent !important;
    }

    nav#block-cua-theme-secondarymenu {
        margin: 0 0 2rem 0;
    }

    nav#block-cua-theme-secondarymenu a.nav-link {
        color: var(--cua-gray-700);
        border-bottom: 1px solid var(--cua-gray-200);
        padding: .5rem 0;
    }

    h1.site-slogan {
        margin: 0;
    }

    a.site-branding__name {
        font-size: 1.1rem;
        padding: .3rem 0 0;
        line-height: 1;
    }

    .navbar-expand-lg .navbar-nav .nav-link, .nav-link.dropdown-toggle, .nav-link.is-active, .nav-link.active.is-active {
        text-decoration: none;
        margin: 0;
        padding: .5rem 0;
        border-bottom: 1px solid var(--cua-gray-200);
    }

    button.search-icon {
        border-radius: 50%;
        padding: 0.6rem;
        box-shadow: none;
        margin: 0 3px;
    }

    .header .nav-link {
        font-size: 1rem !important;
    }

    header .navbar-nav > .nav-item:first-child > .nav-link::before {
        display: none;
    }

    /* Custom Hamburger */
    .navbar-toggler {
        background-color: transparent !important;
        border: var(--bs-border-width) solid var(--cua-black-pure);
    }

    .navbar-toggler-icon {
        --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .navbar-toggler:focus {
        background: var(--cua-gold) !important;
        border: var(--bs-border-width) solid var(--cua-gold);
        box-shadow: none !important;
        text-decoration: none !important;
        outline: 0 !important;
    }

    .navbar-toggler:focus .navbar-toggler-icon {
        --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M3 3L27 27'/%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M3 27L27 3'/%3e%3c/svg%3e");
    }

    .dropdown-menu.show {
        border-bottom: none;
        box-shadow: none !important;
        font-size: .9rem;
    }

    .dropdown-item a, .dropdown-item a:visited {
        font-weight: 700;
        padding-left: 15px;
    }

    header #search-block-form {
        padding: 0;
    }

    .dropdown-toggle::after {
        position: absolute;
        right: 15px;
        top: 10px;
        border-top: 0.4em solid;
        border-right: 0.4em solid transparent;
        border-bottom: 0;
        border-left: 0.4em solid transparent;
    }

    /* Secondary Mobile Menu */
    .block-menu.menu--secondary-menu ul.nav {
        flex-direction: column;
    }

    .block-menu.menu--secondary-menu ul.nav li.nav-item {
        display: block;
    }

    .block-menu.menu--secondary-menu a.nav-link {
        color: var(--cua-gray-700);
        border-bottom: 1px solid var(--cua-gray-200);
        padding: .75rem 0 .75rem 1rem;
    }
    header .nav-item {
        border-right: none !important;
    }

    p.search-button {
        padding: 0 !important;
        margin: 0 !important;
    }

    img.sticky-show {
        display: none;
    }

    header .border-bottom {
        border-bottom: 1px solid var(--cua-white) !important;
        /* display: none; */
    }

    header .nav-item {
        border-right: 1px solid transparent;
        color: white;
    }

    nav#block-cua-theme-secondarymenu a.nav-link {
        color: var(--cua-white);
        background: var(--uci-gray);
        border-bottom: 1px solid var(--cua-gray-200);
        padding: 1rem;
    }

    header .secondary-menu-mobile a.nav-link.active,
    header .secondary-menu-mobile a.nav-link {
        background: var(--uci-gray);
        color: var(--cua-white) !important;
    }

    div#mainNavbrSupportedContent {
        margin: 0 0 2rem;
    }

    header .navbar-expand-lg .navbar-nav .nav-link {
        color: var(--cua-white);
        background: var(--uci-gray);
    }

    header li.nav-item,
    header li.nav-item:hover,
    .dropdown-menu.show {
        background: var(--uci-gray) !important;
        color: var(--cua-white) !important;
    }

    .dropdown-item a, .dropdown-item a:visited {
        color: var(--cua-white);
    }

    .navbar-expand-lg .navbar-nav .nav-link::before {
        background-color: var(--uci-gray) !important;
    }

    a.site-branding__name {
        margin: .7rem 0 0 .5rem;
    }
}

/* iphone > 12 */
@media only screen and (max-width: 430px) {
    a.site-branding__name {
        padding: .5rem 0 0;
    }

    .site-name-logo img {
        margin: .25rem 0 0;
    }
}

/* iphone < 12 */
@media only screen and (max-width: 390px) {
    a.site-branding__name {
        padding: 0;
    }

    .site-name-logo img {
        margin: .3rem 0 0;
    }
}


