/* Counter */
.counter .counter-size {
  font-size: 1.75rem;
  font-weight: 700;
}

.counter .padding-left {
  padding-left:.4rem !important
}

.counter .padding-right {
  padding-right:.2rem !important
}

.counter .card-title {
  text-align: center !important;
}