/* CSS Style Sheet Colors */
.half-and-half .card,
.half-and-half .card img {
    border-radius: 0 !important;
}

.half-and-half .add-padding {
    padding: 2rem  0!important;
}

.half-and-half .large img {
    max-width: 100% !important;
    width: 100% !important;
}

.half-and-half .medium img {
    max-width: 75% !important;
    width: 75% !important;

}

.half-and-half .small img {
    max-width: 60% !important;
    width: 60% !important;
}

.half-and-half .large img,
.half-and-half .medium img,
.half-and-half .small img {
    float: right !important;
}

.half-and-half .order-last .large img,
.half-and-half .order-last .medium img,
.half-and-half .order-last .small img {
    float: left !important;
}

.half-and-half .container-xl {
    max-width: 1400px !important;
}

.half-and-half .hr-top {
    border-top: 2px solid var(--cua-gold) !important;
    margin: 1rem 0;
    opacity: 1;
}

.half-and-half .hr-top .hh-img img {
    margin: 1rem 0 !important;
}


.half-and-half .hr-bottom {
    border-bottom: 2px solid var(--cua-gold) !important;
    margin: 1rem 0;
    opacity: 1;
}

.half-and-half .hr-bottom .hh-img img {
    margin: 1rem 0 !important;
}

.half-and-half .hr-top-bottom {
    border-bottom: 2px solid var(--cua-gold) !important;
    border-top: 2px solid var(--cua-gold) !important;
    margin: 1rem 0;
    opacity: 1;
}

.half-and-half .hr-top-bottom .hh-img img {
    margin: 1rem 0 !important;
}

.card h3.small {
    margin: .7rem 0 0 !important;
}

.stacked-list3_icon-wrapper {
    width: 20px;
    height: 20px;
    max-height: 100px;
    max-width: 100px;
    min-height: 20px;
    min-width: 20px;
    aspect-ratio: auto;
    border-radius: 20px;
    padding: .5rem;
    overflow: visible;
}

.stacked-list3_icon-wrapper.gold {
    background-color: #cfb87c !important;
}

.stacked-list3_icon-wrapper.darkgold {
    background-color: #827757 !important;
}

.stacked-list3_icon-wrapper.gray {
    background-color: #a2a5a9 !important;
}

.stacked-list3_icon-wrapper.lightgold {
    background-color: #e0d6ba !important;
}

.stacked-list3_icon-wrapper.black {
    background-color: #000000 !important;
}

.stacked-list3_icon-wrapper.darkgray {
    background-color: #555551 !important;
}

@media only screen and (max-width: 576px) {
    .half-and-half .large img,
    .half-and-half .medium img,
    .half-and-half .small img,
    .half-and-half .order-last .large img,
    .half-and-half .order-last .medium img,
    .half-and-half .order-last .small img {
        float: none !important;
        max-width: 100% !important;
        width: 100% !important;
    }

    .hh-img.large.p-0.img-hover-effect,
    .hh-img.medium.p-0.img-hover-effect,
    .hh-img.small.p-0.img-hover-effect {
        margin: 1.5rem 1rem !important;
    }

    .half-and-half .hr-top-bottom .hh-img img {
        margin: 1rem !important;
    }

    .half-and-half .add-padding {
        padding: 1rem 1rem !important;
    }

}