/* CSS Style Sheet Colors */
.half-and-half .card,
.half-and-half .card img {
  border-radius: 0 !important;
}

.half-and-half .add-padding {
  padding: 3rem !important;
}

.half-and-half img.large {
  scale: 100% !important;
}

.half-and-half img.medium {
  scale: 75% !important;
}

.half-and-half img.small {
  scale: 50% !important;
}
