/* Alert styling */

/* Set alert padding-y to 0 */
.alert {
  --bs-alert-padding-y: 0;
}

/* Remove margin and padding for card-body within an alert */
.alert .card-body {
  margin-bottom: 0;
  padding: 0;
}

/* Remove padding for card-footer within an alert */
.alert .card-footer {
  padding: 0;
}

/* Adjust styling for close button in dismissible alerts */
.alert-dismissible .btn-close {
  top: 10px;
  right: 20px;
  padding: .5rem;
  color: inherit;
}

/* Float the .fa-solid icon to the end of the alert */
.alert .fa-solid {
  float: inline-end;
}

/* Customize close button colors and background */
.alert .btn-close {
  --bs-btn-close-bg: none !important;
}

.btn-close {
  border: 1px solid var(--cua-black) !important;
}

/* Style the close button icon */
.alert .btn-close::before {
  color:inherit;
  background: transparent;
  content: "\58";
  font-size: 1.5em;
  left: 9px;
  position: absolute;
  top: -3px;
}

.alert .card-footer {
  padding: 0 !important;
  margin: 0 0 1rem !important;
}

.alert .card .btn {
  font-size: .8rem;
  padding: .3rem 1.25rem !important;
}