/*
 * @file
 * Provides the layout styles for eight-column layout section.
 */

.layout--eightcol-section {
  display: flex;
  flex-wrap: wrap;
}

.layout--eightcol-section > .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  .layout--eightcol-section > .layout__region {
    flex: 0 1 12.5%; /* 100 / 8 = 12.5% */
  }
}