/* Base styling for cards */
.card {
    --bs-card-border-color: transparent;
    --bs-card-border-width: 0;
}

/* Heading elements within cards */
.card h3,
.card .h3,
.card h3 a,
.card .h3 a {
    font-size: 1.75rem;
    margin: 0;
}

/* Card header styling */
.card-header {
    padding: 0;
    margin-bottom: 0;
    color: transparent;
    background-color: transparent;
    border-bottom: none;
}

/* Additional styling for card header with padding */
.card-header.add-padding,
.add-padding {
    padding: 0.5rem 0.5rem 0 0.5rem;
}

/* Card footer styling */
.card .card-footer {
    background-color: transparent;
    border-top: none;
}

/* Buttons within cards */
.card .btn {
    font-size: 0.85rem;
    padding: 0.4rem 1.25rem !important;
}

/* Heading alignment variations for cards */
.card h3.justify-content-start,
.card .justify-content-start *,
.card .justify-content-start p {
    text-align: left;
}

.card h3.justify-content-center,
.card .justify-content-center *,
.card .justify-content-center p {
    text-align: center;
}

.card h3.justify-content-end,
.card .justify-content-end *,
.card .justify-content-end p {
    text-align: right;
}

/* Footer justification variations */
.card-footer.justify-content-start,
.card-footer.justify-content-center,
.card-footer.justify-content-end {
    display: flex;
}

/* Themes */
/* Gold theme */
.cu-bg-gold, .card.cu-bg-gold {
    background: var(--cua-gold);
}

.cu-bd-gold, .card.cu-bd-gold {
    border: 1px solid var(--cua-gold);
}

.card .text-cu-bg-gold > * {
    color: var(--cua-black);
}

.card-footer .btn.btn-cu-bg-gold {
    background: var(--cua-gold);
    border: 1px solid var(--cua-gold);
    color: var(--cua-black);
}

.card-footer .btn.btn-cu-bg-gold:hover {
    background: var(--cua-black);
    color: var(--cua-gold);
}

.card-footer .btn.outline-btn-cu-bg-gold {
    border: 1px solid var(--cua-gold);
    color: var(--cua-gold) !important;
    background: inherit;
}

.card-footer .btn.outline-btn-cu-bg-gold:hover {
    color: var(--cua-black) !important;
    background: var(--cua-gold);
}

/* Black theme */
.cu-bg-black, .card.cu-bg-black {
    background: var(--cua-black);
}

.cu-bd-black, .card.cu-bd-black {
    border: 1px solid var(--cua-black);
}

.card .text-cu-bg-black > * {
    color: var(--cua-white);
}

.card-footer .btn.btn-cu-bg-black {
    background: var(--cua-black);
    border: 1px solid var(--cua-black);
    color: var(--cua-white);
}

.card-footer .btn.btn-cu-bg-black:hover {
    background: var(--cua-white);
    color: var(--cua-black) !important;
}

.card-footer .btn.outline-btn-cu-bg-black {
    background: inherit;
    border: 1px solid var(--cua-black);
    color: var(--cua-black);
}

.card-footer .btn.outline-btn-cu-bg-black:hover {
    background: var(--cua-black);
    color: var(--cua-white);
}

/* White theme */
.cu-bg-white, .card.cu-bg-white {
    background: var(--cua-white);
}

.cu-bd-white, .card.cu-bd-white {
    border: 1px solid var(--cua-white);
}

.card .text-cu-bg-white > * {
    color: var(--cua-black);
}

.card-footer .btn.btn-cu-bg-white {
    background: var(--cua-white);
    border: 1px solid var(--cua-white);
    color: var(--cua-black);
}

.card-footer .btn.btn-cu-bg-white:hover {
    background: var(--cua-white);
    border: 1px solid var(--cua-black);
    color: var(--cua-black);
}

.card-footer .btn.outline-btn-cu-bg-white {
    background: inherit;
    border: 1px solid var(--cua-white);
    color: var(--cua-white);
}

.card-footer .btn.outline-btn-cu-bg-white:hover {
    background: var(--cua-white);
    color: var(--cua-black) !important;
}

/* Light Grey theme */
.cu-bg-light-grey, .card.cu-bg-light-grey {
    background: var(--cua-gray-500);
}

.cu-bd-light-grey, .card.cu-bd-light-grey {
    border: 1px solid var(--cua-gray-500);
}

.card .text-cu-bg-light-grey > * {
    color: var(--cua-black);
}

.card-footer .btn.btn-cu-bg-light-grey {
    background: var(--cua-gray-500);
    border: 1px solid var(--cua-gray-500);
    color: inherit;
}

.card-footer .btn.btn-cu-bg-light-grey:hover {
    background: var(--cua-white);
    border: 1px solid var(--cua-black);
    color: var(--cua-black);
}

.card-footer .btn.outline-btn-cu-bg-light-grey {
    background: inherit;
    border: 1px solid var(--cua-gray-500);
    color: var(--cua-gray-500);
}

.card-footer .btn.outline-btn-cu-bg-light-grey:hover {
    background: var(--cua-gray-500);
    border: 1px solid var(--cua-black);
    color: var(--cua-black);
}

/* Heading level 6 in cards */
.card h6, .card .h6 {
    font-weight: 700;
    font-style: normal;
    font-size: 0.95rem;
    text-transform: none;
    line-height: 1.2;
}

/* Card header links */
.card-header a {
    text-decoration: none;
}

/* Image hover effect styles */
.img-hover-effect {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: inherit;
}

/* Images within image hover effect */
.img-hover-effect img {
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

/* Image scaling on hover effect */
.img-hover-effect:hover img {
    transform: scale(1.1);
}

/* Figure captions */
.figcaption {
    color: initial;
}

/* Figures */
figure {
    margin: 0;
}

/* Links within figures */
a figure {
    text-decoration: none;
}

/* Image scaling variations */
.large img {
    scale: 100%;
}

.medium img {
    scale: 80%;
}

.small img {
    scale: 60%;
}
/* End */
