{# Card title and body #}

{# Add optional variables based on conditions #}
{% set color_background = color_background ?? '' %}
{% set text_alignment = text_alignment ?? '' %}
{% set position_container = position_container ?? '' %}
{% set padding = padding ?? '' %}

{# Content #}
{% if label or body %}
    <div class="d-flex flex-column text-{{ color_background }} {{ text_alignment }} {{ position_container }} {{ padding }} my-3">
        <div class="card-body-title">
            {# Include Title Component #}
            {% include '@cua_theme/component/title/_title.html.twig' %}
            {# Include Body Component #}
            {% include '@cua_theme/component/body/_body.html.twig' %}
        </div>
    </div>
{% endif %}
