{# Icon #}

{# Concatenate optional classes with a space #}
{% set icon_classes = [
    padding is not empty ? padding : null,
    position_container is not empty ? 'd-flex ' ~ position_container : null,
    text_alignment is not empty ? text_alignment : null,
    'pt-5 pb-3',
] | join(' ') %}

{# Content #}
  {% if icon %}
      <div{{ attributes.addClass(icon_classes|trim) }} style="color:{{ icon_color }}">
          <i class="{{ icon ~ ' ' ~ icon_size }}"></i>
      </div>
  {% endif %}