{# Icon #}

{# Concatenate optional classes with a space #}
{% set icon_classes = [
    padding is not empty ? padding : null,
    position_container is not empty ? position_container : null,
    text_alignment is not empty ? text_alignment : null,
] | join(' ') %}

{# Content #}
  {% if icon %}
      <div class="{{ icon_classes|trim }} pt-5 pb-3" style="color:{{ icon_color }}">
          <i class="{{ icon ~ ' ' ~ icon_size }}"></i>
      </div>
  {% endif %}