{# Card title and body #}

{# If active render #}
{% if label is not empty or body is not empty %}

    {# Concatenate optional classes with a space #}
    {% set card_classes = [
        'd-flex flex-column',
        color_background is not empty ? 'text-' ~ color_background : null,
        text_alignment is not empty ? text_alignment : null,
        position_container is not empty ? 'd-flex' ~ ' ' ~ position_container : null,
        padding is not empty ? padding : null,
        'my-2',
    ] | join(' ')|trim %}

    {# Content #}
    <div class="{{ card_classes }}">

        {# Include Title Component #}
        {% include '@cua_theme/component/partials/_title.html.twig'%}

        {# Include Body Component #}
        {% include '@cua_theme/component/partials/_body.html.twig' %}

    </div>

{% endif %}
