{# Desktop #}
<div class="container-fluid mx-auto position-absolute d-flex {{ position_container }}">
    <div class="col-sm-4 {{ color_background }} animate__animated animate__fadeIn animate__slow animate__delay-2s d-none d-md-block p-4 mt-5 mx-5">
        {# Include Title Component #}
        {% include '@cua_theme/component/title/_title.html.twig' %}
        {# Include Body Component #}
        {% include '@cua_theme/component/body/_body.html.twig' %}
        {# Include Link/Button Component #}
        {% include '@cua_theme/component/card/_card--footer-btn.html.twig' %}
    </div>
</div>
