{# Desktop #}
<div class="col-md-4 animate__animated animate__fadeIn animate__slow animate__delay-2s {{ color_background }} position-absolute top-50 end-0 translate-middle d-none d-md-block p-4">
    {# Include Title/Body Component #}
    {% include '@cua_theme/component/card/_card--title-body.html.twig' %}
    {# Include Button/Link Component #}
    {% include '@cua_theme/component/card/_card--footer-btn.html.twig' %}
</div>