{# Mobile #}
<div class="col-md-4 d-md-none">
    {# Include Title/Body Component #}
    {% include '@cua_theme/component/card/_card--title-body.html.twig' %}
    {# Include Button/Link Component #}
    {% include '@cua_theme/component/card/_card--footer-btn.html.twig' %}
</div>