{# Mobile #}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 d-md-none">
            {# Include Title Component #}
            {% include '@cua_theme/component/title/_title.html.twig' %}
            {# Include Body Component #}
            {% include '@cua_theme/component/body/_body.html.twig' %}
            {# Include Link/Button Component #}
            {% include '@cua_theme/component/card/_card--footer-btn.html.twig' %}
        </div>
    </div>
</div>