{# Video -- Mobile #}
{% if label or body or link_title %}
    <div class="video-mobile-copy d-md-none g-0">
        <div class="container mt-5">
            <div class="row">
                <div class="col-sm-12">
                    {# Include Title Component #}
                    {% include '@cua_theme/component/title/_title.html.twig' %}
                    {# Include Body Component #}
                    {% include '@cua_theme/component/body/_body.html.twig' %}
                    {# Include Link/Button Component #}
                    {% include '@cua_theme/component/card/_card--footer-btn.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endif %}