{# Mobile #}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 d-md-none">
            {# Include Title/Body Component #}
            {% include '@cua_theme/component/card/_card--title-body.html.twig' %}
            {# Include Button/Link Component #}
            {% include '@cua_theme/component/card/_card--footer-btn.html.twig' %}
        </div>
    </div>
</div>