{# Video Containers #}
    {% if provider %}
        <div class="video-container g-0 m-0 p-0 position-relative">
            {% include '@cua_theme/component/video/include/_video--' ~ provider|lower ~ '.html.twig' ignore missing %}
        </div>
    {% else %}
        {# No video provider specified #}
        <p>{{ 'No video provider specified.'|t }}</p>
    {% endif