{# Vimeo Video Container #}
<div class="video-container g-0 m-0 p-0 position-relative">
    <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe title="{{ label }}" src="https://player.vimeo.com/video/{{ video }}?h=364db7b3dd&autoplay=1&title=0&byline=0&portrait=0=autoplay=1{{ autoplay }}"
                style="position:absolute;top:0;left:0;width:100%;height:100%;"
                frameborder="0"
                allow="autoplay; fullscreen; picture-in-picture"
                allowfullscreen></iframe>
        {# Attach the library #}
        {{ attach_library('cua_theme/video') }}
    </div>
</div>
