{# Title #}

{# Concatenate optional classes with a space #}
{% set title_classes = [
    'display-4 card-text lead mb-2',
    center_content is not empty ? center_contentd : null,
    page_title_visibility is not empty ? page_title_visibility : null,
    position_container is not empty ? 'd-flex ' ~ position_container : null,
    text_alignment is not empty ? text_alignment : null,
    text_color is not empty ? text_color : null,
] | join(' ') %}

{# Content #}
{% if label is not empty %}
    <h2 class="{{ title_classes|trim }}">
        {{ label }}
    </h2>
{% endif %}
