{# Title #}
{{ title_prefix ?? '' }}
<div class="display-4 card-text lead {{ [
    center_content is not empty ? ' ' ~ center_content,
    page_title_visibility is not empty ? ' ' ~ page_title_visibility,
    text_alignment is not empty ? ' ' ~ text_alignment,
    text_color is not empty ? ' ' ~ text_color
]|join }} my-3 g-0">
    <p class="h3 title">{{ label }}</p>
</div>
{{ title_suffix ?? '' }}
