/* Call to Action styling */

/* Styles for the card image and card image top in the call to action */
.call-to-action .card-img, .call-to-action .card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Styles for the card image and card image bottom in the call to action */
.call-to-action .card-img, .call-to-action .card-img-bottom {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.border-light {
    border-color: transparent !important;
}

/* Call to Action styling */

/* Styles for the card image and card image top in the call to action */
.call-to-action .card-img, .call-to-action .card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Styles for the card image and card image bottom in the call to action */
.call-to-action .card-img, .call-to-action .card-img-bottom {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.border-light {
    border-color: transparent !important;
}

.call-to-action .card-link.d-flex.justify-content-center {
    text-align: center !important;
}

.call-to-action .display-4.card-text.lead.h3.title {
    font-family: var(--font-roboto-condensed);
    font-size: 2rem !important;
    font-weight: 700 !important;
    line-height: 1.1 !important;
    margin: .5rem 0 0 !important;
}

.call-to-action p.h3.title {
    font-family: var(--font-roboto-condensed);
    font-size: 2.25rem !important;
    font-weight: 700 !important;
    line-height: 1.1 !important;
    margin: .5rem 0 0 !important;
}

.call-to-action.card p span {
    font-family: var(--font-roboto);
    font-size: 2rem !important;
    font-weight: 100 !important;
}

.call-to-action .card-header {
    margin-bottom: .5rem;
}

.call-to-action p {
    margin-top: 1rem !important;
}

.call-to-action .fa-solid {
    margin-bottom: 1rem !important;
}

.block .call-to-action {
    margin: 0 8px !important;
}

.margin_bottom .call-to-action {
    padding-bottom: 3rem !important;
}

.call-to-action .margin_top {
    padding-top: 3rem !important;
}

.call-to-action .margin_bottom {
    padding-bottom: 3rem !important;
}

.call-to-action.card p span {
    font-size: 1.8rem !important;
    margin-left: 1px !important;
}

.call-to-action .title span {
    display: block;
    margin-top: 1px; /* Adjust as needed */
}

/* Flag */
.flag {
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    position: absolute;
    left: -8px;
    top: 20px;
    padding: 1px 20px 1px 7px;
    font-size: .9rem;
    font-weight: 600;
    z-index: 100;
}

.flag::after {
    border-color: transparent #000000 transparent transparent;
}

.flag::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 0;
    position: absolute;
    bottom: -8px;
    left: 0;
    border-color: transparent #000000 transparent transparent;
}

.flag.cu-bg-white,
.flag.cu-bg-gold,
.flag.cu-bg-light-gray {
    color: var(--cua-black);
}

.flag.cu-bg-black,
.flag.cu-bg-pure-black{
    color: var(--cua-white);
}

