{# Render content #}
<div{{ attributes|without('id').addClass(classes).setAttribute('id', unique_id ) }}>
    {# Video Containers #}
    {# Include Youtube Component #}
    {% if content.field_provider is not empty and content.field_provider[0]['#markup'] == "youtube" %}
        {% include '@cua_theme/component/video/include/_block--video-youtube.html.twig' %}
        {# Include Vimeo Component #}
    {% elseif content.field_provider is not empty and content.field_provider[0]['#markup'] == "vimeo" %}
        {% include '@cua_theme/component/video/include/_block--video-vimeo.html.twig' %}
    {% endif %}
    {# Title, Body, and Link Container #}
    <div class="container mt-5">
        <div class="row">
            {# Include Desktop Component #}
            {% include '@cua_theme/component/video/include/_block--video-desktop.html.twig' %}
            {# Include Mobile Component #}
            {% include '@cua_theme/component/video/include/_block--video-mobile.html.twig' %}
        </div>
    </div>
</div>
