
{# Add Classes #}
{% set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'video',
    'animate-trigger',
    'card',
    'g-0',
    margins is not empty ? margins|clean_class  : '',
    container_size is not empty ? container_size|clean_class  : '',
    id ? 'block--' ~ id|replace({"_": "-"})|clean_class,]|merge(utility_classes ? utility_classes : []) %}

{# Add unique id to block #}
{% set unique_id = [
    plugin_id ? 'block--' ~ plugin_id|replace({"_": "-", ":": "--"}) ~ '-' ~ elements.content['#block_content'].id()
] %}

{# Render content #}
<div{{ attributes|without('id').setAttribute('id', unique_id ).addClass(classes) }}>
    {# If Video include component #}
    {% include '@cua_theme/component/video/include/_video--master.html.twig' %}
    {# If Desktop include component #}
    {% include '@cua_theme/component/video/include/_desktop-video.html.twig' %}
    {# If Mobile include component #}
    {% include '@cua_theme/component/video/include/_mobile-video.html.twig' %}
</div>

