{#
/**
* @file
* Template for the Half and Half component.
*
* Bootstrap Documentation
* https://getbootstrap.com/docs/5.3
*
* Full List Utility Classes
* https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
*
* Available fields located in:
* - cua_theme.theme
*/
#}

{# Add optional classes based on conditions #}
{% set container_size = container_size is not empty ? container_size|clean_class : '' %}
{% set margins = margins is not empty ? margins|clean_class : '' %}

{# Add Classes #}
{% set video_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'video',
    'animate-trigger',
    'card',
    'g-0',
    margins,
    container_size,
    id ? 'block--' ~ id|replace({"_": "-"})|clean_class
] | merge(utility_classes ? utility_classes : []) | join(' ')|trim %}

{# Add unique id to block #}
{% set unique_id = [
    plugin_id ? 'block--' ~ plugin_id|replace({"_": "-", ":": "--"}) ~ '-' ~ elements.content['#block_content'].id()
] %}

{# Render content #}
<div{{ attributes|without('id').setAttribute('id', unique_id ).addClass(video_classes) }}>
    {# Video component #}
    {% include '@cua_theme/component/video/include/_video--master.html.twig' %}
    {# Desktop component #}
    {% include '@cua_theme/component/video/include/_desktop-video.html.twig' %}
    {# Mobile component #}
    {% include '@cua_theme/component/video/include/_mobile-video.html.twig' %}
</div>
