{#
/**
* @file
* Template for the Video component.
*
* Bootstrap Documentation
* https://getbootstrap.com/docs/5.3
*
* Full List Utility Classes
* https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
*
* Available fields located in:
* - cua_theme.theme
*/
#}

{# Add Classes #}
{% set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'video',
    'animate-trigger',
    'card',
    'g-0',
    container_size is not empty ? container_size|clean_class  : '',
    id ? 'block--' ~ id|replace({"_": "-"})|clean_class,]|merge(utility_classes ? utility_classes : []) %}

{# Add unique id to block #}
{% set unique_id = [
    plugin_id ? 'block--' ~ plugin_id|replace({"_": "-", ":": "--"}) ~ '-' ~ elements.content['#block_content'].id()
] %}

{# Render content #}
<div{{ attributes|without('id').addClass(classes).setAttribute('id', unique_id ) }}>
    {# Video Containers #}
    {# Include Youtube Component #}
    {% if content.field_provider is not empty and content.field_provider[0]['#markup'] == "youtube" %}
        {% include '@cua_theme/component/video/include/_video--youtube.html.twig' %}
        {# Include Vimeo Component #}
    {% elseif content.field_provider is not empty and content.field_provider[0]['#markup'] == "vimeo" %}
        {% include '@cua_theme/component/video/include/_video--vimeo.html.twig' %}
        {# Include lcoal video #}
    {% elseif content.field_provider is not empty and content.field_provider[0]['#markup'] == "local" %}
        {% include '@cua_theme/component/video/include/_video--mp4.html.twig' %}
    {% else %}
    {% endif %}
    {# Include Desktop Component #}
    {% include '@cua_theme/component/video/include/_desktop-video.html.twig' %}
    {# Include Mobile Component #}
    {% include '@cua_theme/component/video/include/_mobile-video.html.twig' %}
</div>