/* Counter */
.counter .counter-size {
  font-size: 3rem;
  font-family: var(--font-roboto-condensed);
  font-weight: var(--font-weight-bold)
}

.counter .padding-left {
  padding-left: .4rem !important
}

.counter .padding-right {
  padding-right: .2rem !important
}

.counter .card-title {
  text-align: center !important
}

.counter .card-img-top {
  max-height: 175px
}

.counter .counter-up.cu-text-white,
.counter .padding-left.cu-text-white,
.counter .padding-right.cu-text-white,
.counter .figcaption.cu-text-white {
  color: var(--cua-white) !important
}

.counter .counter-up.cu-text-black,
.counter .padding-left.cu-text-black,
.counter .padding-right.cu-text-black,
.counter .figcaption.cu-text-black {
  color: var(--cua-black) !important
}

.counter .counter-up.cu-text-gold,
.counter .padding-left.cu-text-gold,
.counter .padding-right.cu-text-gold,
.counter .figcaption.cu-text-gold {
  color: var(--cua-gold) !important
}

.fa-2xl {
  font-size: 3rem;
  line-height: .03125em;
  vertical-align: -.1875em
}

.fa-3xl {
  font-size: 4rem;
  line-height: .03125em;
  vertical-align: -.1875em
}

.fa-4xl {
  font-size: 5rem;
  line-height: .03125em;
  vertical-align: -.1875em
}

.fa-5xl {
  font-size: 6rem;
  line-height: .03125em;
  vertical-align: -.1875em
}

.counter .small img {
  scale: 100% !important
}

.counter .card-img.small {
  margin: 0 4rem !important;
  scale: 100% !important
}