:root {
    --cua-black-pure: #000;
    --cua-black: #262626;
    --cua-blue: #0854bb;
    --cua-blue-hover: #0854bb;
    --cua-blue-visited: #0854bb;
    --cua-blue-dark: #03306c;
    --cua-gold: #cfb87c;
    --cua-gold-hover: #5d4916;
    --cua-light-grey: #f3f3f3;
    --cua-body-bg: #fff;
    --cua-body-color: #262626;
    --cua-white: #fff;
}

/* Custom styles for the tabs */
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-radius: 0; /* Remove radius for all tabs */
    color: var(--cua-blue);
    font-weight: bold;
}

.nav-tabs .nav-link.active {
    color: var(--cua-white);
    background-color: var(--cua-blue);
    border-color: var(--cua-blue);
}

.nav-tabs .nav-link:hover {
    border-color: var(--cua-blue);
}

.tab-content {
    padding: 1rem 2rem;
    background-color: var(--cua-gray-50);
}