/* Custom styles for the tabs */
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-radius: 0; /* Remove radius for all tabs */
    color: var(--cua-blue);
    font-weight: bold;
}

.nav-tabs .nav-link.active {
    color: var(--cua-white);
    background-color: var(--cua-blue);
    border-color: var(--cua-blue);
}

.nav-tabs .nav-link:hover {
    border-color: var(--cua-blue);
}

.tab-content {
    padding: 1rem 2rem;
    background-color: var(--cua-gray-50);
}