/* Slider */

.slider blockquote {
  border-left: 0 solid var(--cua-gold) !important;
  width: 70% !important;
  margin: 1rem auto !important
}

.slider blockquote p {
  color: var(--cua-gray-700);
  font-size: 1.2rem;
  line-height: 1.4;
  padding: 0 0 15px
}

.slide-numbers-visible .carousel-indicators {
  display: compact
}

.slide-numbers-invisible .carousel-indicators, .slide-numbers- .carousel-indicators {
  display: none
}
