{# Half and Half -- Desktop code block #}
<div class="{{ container_size }} d-none d-sm-block g-0">
    <div class="card">
        <div class="row">

            {# Determine layout and alignment #}
            {% set layout = content.field_custom_layout[0]['#markup'] ?? '' %}
            {% set is_7030_layout = layout == "4" %}
            {% set is_5050_layout = layout == "50_50" %}
            {% set alignment = content.field_image_aligment.0 ?? '' %}

            {# Set column classes for image container #}
            {% set image_col_classes = [
                is_7030_layout ? 'col-md-4',
                is_5050_layout ? 'col-md-6',
                'col-sm-12',
                color_background ? color_background,
                padding ? padding,
                image_alignment ? image_alignment
            ] | join(' ') %}

            {# Render image container if layout is set #}
            {% if layout %}
                <div class="{{ image_col_classes }}">
                    {# Media Component Logic #}
                    {% if provider is not empty %}
                        {# Include Video Component #}
                        {% include '@cua_theme/component/video/include/_video--master.html.twig' %}
                    {% elseif card_image is not empty %}
                        {# Include Image Component #}
                        {% include '@cua_theme/component/card/_card--image.html.twig' %}
                    {% endif %}
                </div>
            {% endif %}

            {# Set column classes for title/body container #}
            {% set title_body_col_classes = [
                is_7030_layout ? 'col-md-8',
                is_5050_layout ? 'col-md-6',
                'col-sm-12',
                color_background ? color_background,
                text_alignment ? text_alignment,
                padding ? padding
            ] | join(' ') %}

            {# Render title/body container if layout is set #}
            {% if layout %}
                <div class="{{ title_body_col_classes }}">
                    <div class="row mx-5 pt-3">
                        {# Include Title/Body Component #}
                        {% include '@cua_theme/component/card/_card--title-body.html.twig' %}
                        {# Include Button/Link Component #}
                        {% include '@cua_theme/component/card/_card--footer-btn.html.twig' %}
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
</div>
