{# ## Desktop code block ## #}
<div class="container d-none d-sm-block g-0">
    <div class="card">
        <div class="row">
            {# Is layout 50/50 or 70/30 #}
            {% if content.field_custom_layout is not empty and content.field_custom_layout[0]['#markup'] == "4" %}
            {# 70/30 #}
            <div class="col-md-4 col-sm-12 {{ color_background ~ ' ' ~ padding ~ ' ' ~ text_alignment ~ ' ' ~ image_alignment }}">
                {% elseif content.field_custom_layout is not empty and content.field_custom_layout[0]['#markup'] == "50_50" %}
                {# 50/50 #}
                <div class="col-md-6 col-sm-12 {{ color_background ~ ' ' ~ text_alignment ~ ' ' ~ padding }}">
                    {% endif %}
                    {# Include Image Component #}
                    {% include '@cua_theme/component/card/_card--image.html.twig' %}
                </div>
                {# Is layout 50/50 or 70/30 #}
                {% if content.field_custom_layout is not empty and content.field_custom_layout[0]['#markup'] == "4" %}
                {# 70/30 #}
                <div class="col-md-8 col-sm-12 {{ color_background ~ ' ' ~ text_alignment }}">
                    {% elseif content.field_custom_layout is not empty and content.field_custom_layout[0]['#markup'] == "50_50" %}
                    {# 50/50 #}
                    <div class="col-md-6 col-sm-12 {{ color_background ~ ' ' ~ text_alignment }}">
                        {% endif %}
                        <div class="row">
                            {# Include Title/Body Component #}
                            {% include '@cua_theme/component/card/_card--title-body.html.twig' %}
                            {# Include Button/Link Component #}
                            {% include '@cua_theme/component/card/_card--footer-btn.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> {# ignore error > /div is closed based on logic above #}