{#
/**
 * @file
 * Template for the Half and Half component (Mobile).
 *
 * Bootstrap Documentation
 * https://getbootstrap.com/docs/5.3
 */
#}

<div class="container d-block d-sm-none g-0">
    <div class="card">
        <div class="row g-0">

            {# Set column classes for Media Component #}
            {% set media_col_classes = [
                'col-12',
                color_background ? color_background : null,
                text_alignment ? text_alignment : null,
                padding ? padding : null,
            ] | filter(v => v) | join(' ') %}

            <div class="{{ media_col_classes }}">
                {# Media Component Logic #}
                {% if provider %}
                    {# Include Video Component #}
                    {% include '@cua_theme/component/video/partials/_video--master.html.twig' %}
                {% elseif card_image %}
                    {# Include Image Component #}
                    {% include '@cua_theme/component/card/_card--image.html.twig' %}
                {% endif %}
            </div>

            {# Set column classes for Title/Body Component #}
            {% set title_body_col_classes = [
                'col-12',
                color_background ? color_background : null,
                text_alignment ? text_alignment : null,
                padding ? padding : null,
            ] | filter(v => v) | join(' ') %}

            <div class="{{ title_body_col_classes }}">
                <div class="row m-4">

                    {# Include Title Component #}
                    {% include '@cua_theme/component/partials/_title.html.twig' %}

                    {# Include Body Component #}
                    {% include '@cua_theme/component/partials/_body.html.twig' %}

                    {# Include Link/Button Component #}
                    {% include '@cua_theme/component/card/_card--footer-btn.html.twig' %}

                </div>
            </div>

        </div>
    </div>
</div>