{# ## Half and Half Card # ##}

{# Attach library #}
{{ attach_library('cua_theme/half-and-half') }}

{# Add Classes #}
{% set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'half-and-half',
    color_background is not empty ? color_background ~ ' ' ~ border_style|clean_class  : '',
] %}

{# Add unique id number to block #}
{% set clean_id = [
    plugin_id ? 'block--' ~ plugin_id|replace({"_": "-", ":": "--"}) ~ '-' ~ elements.content['#block_content'].id()
] %}

{# Render block content #}
<div{{ attributes|without('id').addClass(classes).setAttribute('id', clean_id ) }}>
    {# Include Mobile Component #}
    {% include '@cua_theme/component/half_and_half/_mobile-block.html.twig' %}
    {# Include Desktop Component #}
    {% include '@cua_theme/component/half_and_half/_desktop-block.html.twig' %}
</div>