{#
/**
* @file
* Template for the Half and Half component.
*
* Bootstrap Documentation
* https://getbootstrap.com/docs/5.3
*
* Full List Utility Classes
* https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
*
* Available fields located in:
* - cua_theme.theme
*/
#}

{# If class is active #}
{% set border_style = border_style is not empty ? border_style|clean_class : '' %}
{% set container_size = container_size is not empty ? container_size|clean_class : '' %}
{% set margins = margins is not empty ? margins|clean_class : '' %}

{# Set data attributes for animation #}
{% set animation_classes = [] %}
{% if animation or animation_speed or animation_delay %}
    {% set animation_classes = (animation or animation_speed or animation_delay) ? ['animate__animated', animation, animation_speed, animation_delay] : [] %}
{% endif %}
{% set data_animation_classes = animation_classes | join(' ') %}
{% set animate_trigger = (animation or animation_speed or animation_delay) ? 'animate-trigger' : '' %}

{# Add Classes #}
{% set hh_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'half-and-half',
    animate_trigger,
    border_style,
    container_size,
    margins,
    id ? 'block--' ~ id|replace({"_": "-"})|clean_class
] | merge(utility_classes ? utility_classes : []) | join(' ') %}

{# Content #}
<div{{ attributes|without('id').setAttribute('id', unique_id ).addClass(hh_classes|trim) }}{% if data_animation_classes %} data-animation-classes="{{ data_animation_classes }}"{% endif %}>
    {# Include Desktop Component #}
    {% include '@cua_theme/component/half_and_half/_desktop-block.html.twig' %}
    {# Include Mobile Component #}
    {% include '@cua_theme/component/half_and_half/_mobile-block.html.twig' %}
</div>
