{#
/**
 * @file
 * Template for the Half and Half component.
 *
 * Bootstrap Documentation
 * https://getbootstrap.com/docs/5.3
 *
 * Full List Utility Classes
 * https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
 *
 * Available fields located in:
 * - cua_theme.theme
 */
#}

{# Attach the library #}
{{ attach_library('cua_theme/half-and-half') }}

{# Set data attributes for animation #}
{% set animation_classes = [
    animation ? animation : null,
    animation_speed ? animation_speed : null,
    animation_delay ? animation_delay : null,
] | filter(v => v) %}

{% set data_animation_classes = animation_classes | length ? 'animate__animated ' ~ animation_classes | join(' ') : '' %}
{% set animate_trigger = animation_classes | length ? 'animate-trigger' : '' %}

{# Define classes #}
{% set hh_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'half-and-half',
    animate_trigger,
    border_style ? border_style : null,
    container_size ? container_size : null,
    margins ? margins : null,
    id ? 'block--' ~ id|replace({"_": "-"})|clean_class : null,
] | merge(utility_classes ? utility_classes : []) | filter(v => v) | join(' ') %}

{# Generate unique ID #}
{% set unique_id = 'block--node--half-and-half--' ~ elements.content['#block_content'].id()|replace({'_': '-', ':': '--'}) %}

{# Render content #}
<div{{ attributes|without('id').setAttribute('id', unique_id).addClass(hh_classes) }}
        {% if data_animation_classes %} data-animation-classes="{{ data_animation_classes }}"{% endif %}>

    {# Include Desktop Component #}
    {% include '@cua_theme/component/half_and_half/_desktop-block.html.twig' %}

    {# Include Mobile Component #}
    {% include '@cua_theme/component/half_and_half/_mobile-block.html.twig' %}

</div>