{#
/**
* @file
* Template for the Half and Half component.
*
* Bootstrap Documentation
* https://getbootstrap.com/docs/5.3
*
* Full List Utility Classes
* https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
*
* Available fields located in:
* - cua_theme.theme
*/
#}

{# If class is active #}
{% set border_style = border_style is not empty ? border_style|clean_class : '' %}
{% set margins = margins is not empty ? margins|clean_class : '' %}
{% set container_size = container_size is not empty ? container_size|clean_class : '' %}

{# Add Classes #}
{% set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'half-and-half',
    border_style,
    margins,
    container_size,
    id ? 'block--' ~ id|replace({"_": "-"})|clean_class,
] %}

{# Add unique id to block #}
{% set unique_id = [
    plugin_id ? 'block--' ~ plugin_id|replace({"_": "-", ":": "--"}) ~ '-' ~ elements.content['#block_content'].id()
] %}

{# Initialize animation classes #}
{% set animate_classes = [] %}

{# Add animate-trigger class based on conditions #}
{% if animation or animation_speed or animation_delay %}
    {% set animate_classes = ['animate-trigger'] %}
{% endif %}

{# Content #}
<div{{ attributes|without('id').setAttribute('id', unique_id ).addClass(classes, animate_classes) }}{% if animation or animation_speed or animation_delay %} data-animation-classes="animate__animated {{ animation ~ ' ' ~ animation_speed ~ ' ' ~ animation_delay }}"{% endif %}>
    {# Include Desktop Component #}
    {% include '@cua_theme/component/half_and_half/_desktop-block.html.twig' %}
    {# Include Mobile Component #}
    {% include '@cua_theme/component/half_and_half/_mobile-block.html.twig' %}
</div>