{#
/**
* @file
* Template for the Half and Half component.
*
* Bootstrap Documentation
* https://getbootstrap.com/docs/5.3
*
* Full List Utility Classes
* https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
*
* Available fields located in:
* - cua_theme.theme
*/
#}

{# Add Classes #}
{% set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'half-and-half',
    color_background is not empty ? color_background ~ ' ' ~ border_style|clean_class  : '',
    container_size is not empty ? container_size|clean_class  : '',
] %}

{# Add unique id number to block #}
{% set clean_id = [
    plugin_id ? 'block--' ~ plugin_id|replace({"_": "-", ":": "--"}) ~ '-' ~ elements.content['#block_content'].id()
] %}

{# Animation #}
{% include '@cua_theme/component/animation/_animation--start.html.twig' %}
{# Content #}
<div{{ attributes|without('id').addClass(classes).setAttribute('id', clean_id ) }}>
        {# Include Desktop Component #}
        {% include '@cua_theme/component/half_and_half/_desktop-block.html.twig' %}
        {# /Animation #}
        {% include '@cua_theme/component/animation/_animation--start.html.twig' %}
    {# Include Mobile Component #}
    {% include '@cua_theme/component/half_and_half/_mobile-block.html.twig' %}
</div>