{# Basic Title Macro #}

{# Import the macro file #}
{# {% import '@cua_theme/component/macros/card_basic_title.html.twig' as titleMacros %}

{# Call the macro and pass the necessary variables #}
{# {{ titleMacros.render_card_basic_title(title_prefix, label, title_suffix) }} #}

{% macro render_card_basic_title(title_prefix, label, title_suffix) %}

    {{ title_prefix ?? '' }}
    <h3 class="visually-hidden" aria-hidden="false">
        {{ label }}
    </h3>
    {{ title_suffix ?? '' }}

{% endmacro %}
