{# Body Macro #}

{# Import the macro file #}
{# {% import '@cua_theme/component/macros/body_macros.html.twig' as bodyMacros %} #}

{# Call the macro and pass the necessary variables #}
{# {{ bodyMacros.render_body(content, body, padding, text_color, text_alignment) }} #}

{#
Params:
  - content: Must contain 'body' field with processed text
  - padding: null|'remove-padding'|'add-padding'|'p-0'
  - text_color: null|'cu-text-gold'|'cu-text-black'|'cu-text-white'
  - text_alignment: null|'justify-content-{start/center/end}'
#}

{# Content #}

{% macro render_body(content, padding = null, text_color = null, text_alignment = null) %}
    {% if content.body is defined and content.body %}
        {# Move allowed values to constants #}
        {% set allowed_padding = ['remove-padding', 'add-padding', 'p-0'] %}
        {% set allowed_text_colors = ['cu-text-gold', 'cu-text-black', 'cu-text-white'] %}
        {% set allowed_text_alignments = ['justify-content-start', 'justify-content-center', 'justify-content-end'] %}

        {# Validation #}
        {% set padding = padding in allowed_padding ? padding : null %}
        {% set text_color = text_color in allowed_text_colors ? text_color : null %}
        {% set text_alignment = text_alignment in allowed_text_alignments ? 'd-flex ' ~ text_alignment : null %}

        {# Class construction #}
        {% set body_classes = [
            'card-body',
            'd-flex',
            'flex-column',
            'card-text',
            'lead',
            'g-0',
            'clearfix',
            padding,
            text_color,
            text_alignment
        ] | filter(v => v) %}

        {# Output #}
        <div class="{{ body_classes|join(' ')|trim }}">
            {{ content.body }}
        </div>

    {% endif %}
{% endmacro %}
