{# Header #}
<header id="cu-header" role="banner">
    {# Logo and site title/s #}
    {% if page.header %}
        {% block header %}
            {{ page.header }}
        {% endblock %}
    {% endif %}
    {# Main and Utility Navigation and Search #}
    <div class="container my-2">
        <nav class="navbar navbar-expand-lg">
            <div class="page-navigation main-nav collapse navbar-collapse" id="navbarCUContent">
                {# Main navigation #}
                {% if page.navigation %}
                    {% block navigation %}
                        <a id="main-navigation"></a>
                        {{ page.navigation }}
                    {% endblock %}
                {% endif %}
                {# Utility navigation #}
                {% if page.utility_navigation %}
                    {% block utility_navigation %}
                        <div class="utility-navigation float-start">
                            {{ page.utility_navigation }}
                        </div>
                    {% endblock %}
                {% endif %}
                {# Search #}
                {% if page.search %}
                    {% block search %}
                        <!-- Trigger Buttons HTML -->
                        <a href="#search-container" class="cu-search" title="search" data-bs-toggle="collapse"
                           data-bs-target="#cu-search"><i class="fas fa-search d-none d-md-block"></i></a>
                        <!-- Collapsible Element HTML -->
                        <div id="search-container">
                            <div id="cu-search" class="collapse absolute">
                                {{ page.search }}
                            </div>
                        </div>
                    {% endblock %}
                {% endif %}
            </div>
        </nav>
    </div>
</header>