/* all nav */
.nav-link {
    margin: 0 .25rem 0;
    padding: .2rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px !important;
    padding-left: 20px !important;
}

/* main menu */
.main-nav .dropdown-menu a {
    color: var(--bs-gold);
    text-decoration: none !important;
}

.main-nav .dropdown-menu a:hover {
    text-decoration: underline;
}

.main-nav .dropdown-item:focus,
.main-nav .dropdown-item:hover {
    color: white;
}

/* Secondary Menus */
#block-cua-theme-cufoundation ul,
#block-cua-theme-centralcuadvancement ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#block-cua-theme-cufoundation li,
#block-cua-theme-centralcuadvancement li {
    float: left;
}

#block-cua-theme-cufoundation li a,
#block-cua-theme-centralcuadvancement li a {
    color: white;
    display: block;
    text-align: left;
    text-decoration: none;
    margin: .25rem 1rem;
}

#block-cua-theme-cufoundation li a:hover,
#block-cua-theme-centralcuadvancement li a:hover {
    text-decoration: none;
    color: var(--bs-gold);
}