/* main menu */
.main-nav .dropdown-menu a {
    color: var(--bs-link-color);
    text-decoration: none !important;
}

.main-nav .dropdown-menu a:hover {
    color: black;
}

.main-nav .dropdown-item:focus,
.main-nav .dropdown-item:hover {
    color: black;
    background-color: white;
}

