{# extends @bootstrap_barrio/layout/block.html.twig
/**
 * @file
 * Theme override for tabs.
 */
#}
{% block content %}
  {% if content %}
      <div class="container text-center">
          <h4>- Edit Page Content Below -</h4>
          <p>Layout Builder Tutorial: <a href="https://www.youtube.com/watch?v=OOM4yRWv7Ew&ab_channel=EvolvingWeb" target="_blank">More Information</a></p>
      </div>

      <nav class="tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
      {{ content }}
    </nav>
  {% endif %}
{% endblock %}
