{# extends @bootstrap_barrio/layout/block.html.twig
/**
 * @file
 * Theme override for tabs.
 */
#}
{% block content %}
    {% if content %}
        <div class="container text-center mt-4">
            <h6>- Edit Page Content Below -</h6>
            <p><i class="fa-solid fa-gear"></i> Layout Builder Tutorial: <a href="https://www.youtube.com/watch?v=OOM4yRWv7Ew&ab_channel=EvolvingWeb" target="_blank">More Information</a></p>
        </div>
        <nav class="tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
            {{ content }}
        </nav>
    {% endif %}
{% endblock %}
