{#
/**
 * @file
 * Search Icon button toggle.
 *
 * This component renders a button that toggles the visibility of the
 * main search form using Bootstrap's collapse functionality.
 *
 * Accessibility:
 * - aria-expanded updates automatically by Bootstrap when toggled.
 * - aria-controls links the button to the collapsible search form region.
 * - aria-label provides screen readers with clear context.
 *
 * Styling:
 * - Uses Bootstrap utility classes for flex and button styling.
 * - Inline SVG icon from Bootstrap Icons library for consistent visuals.
 */
#}


<button
        class="search-icon btn btn-default"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#CollapseSearch"
        aria-expanded="false"
        aria-controls="CollapseSearch"
        aria-label="{{ 'Search'|t }}">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" role="img" aria-hidden="true" focusable="false">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
    </svg>
</button>
