{# Site name and breadcrumb #}
<div class="container-fluid site-name-wrapper g-0">
    <div class="container px-3 my-1">
        <div class="row">
            <div class="col-auto site-slogan mx-2 my-2">
                {{ site_name|e }}
            </div>
            {% if page.breadcrumb %}
                {% block breadcrumb %}
                    <div class="col d-none d-lg-block pt-2">
                        {{ page.breadcrumb }}
                    </div>
                {% endblock %}
            {% endif %}
        </div>
    </div>
</div>